[2018-09-06 08:46] moufmouf opened #3 "Functions that are in declared twice in the doc pages are not handled"
To be handled in special cases:

- [x] json_decode (it returns null on error)
- [ ] all functions that are in double (in the PHPDoc, some functions are declared twice with different syntaxes. We can't easily cope with those manually)

[2018-09-06 12:33] moufmouf opened #5 "Performance issue"
Scanning of lib.php by PHPStorm alone takes several minutes.
We should also check performance for PHP.

TODO: try to split the file in several smaller files?

[2018-09-06 12:42] moufmouf commented on #5
Some measures:

When everything function is in one single big file:

- nb functions: 1426
- nb lines: 46514
- file size: 1.3M
- time to index in PHPStorm: 3m42s

[2018-09-06 12:53] moufmouf commented on #5
Results after splitting functions in 128 files:

- nb functions: 128
- nb lines: 48449
- files size (total): 1.5M
- average file size: 12k
- time to index in PHPStorm: *3s* (!!!)

[2018-09-06 14:05] MaXal commented on #5
The difference shouldn't be so enormous! Is it possible to attach `lib.php`? We (PhpStorm team) would glad to investigate what is going on.

[2018-09-06 14:12] moufmouf opened #7 "Wrap objects"
Just like we do with functions, it would be great to be able to overload objects that have methods returning false instead of throwing exceptions.

[2018-09-06 14:29] moufmouf commented on #5
Hey @MaXal

With pleasure. File is here:

[lib.zip](https://github.com/thecodingmachine/safe/files/2357447/lib.zip)

It takes about 3 minutes to index with latest version of PHPStorm (2018.2)

And I'm not having this problem if file is splitted in 128 smaller files (I'm in the process of commiting those, so they will be in the repository by tomorrow).

[2018-09-06 16:06] moufmouf opened #10 "Unlink signature is broken"
Unlink requires 2 arguments in Safe but only one is compulsory in core.

[2018-09-06 20:13] moufmouf commented on #10
Closed by #11

[2018-09-06 20:13] #10 closed

[2018-09-06 20:19] moufmouf opened #12 "Some methods are meant to return true or false"
... and the PHPDoc says it returns false on failure, but this is OK.

Example: array_key_exists

TODO: add an "ignore" list in a "config" directory.

[2018-09-07 08:50] #12 closed

[2018-09-07 14:48] MaXal commented on #5
Thanks a lot! Reproduced: https://youtrack.jetbrains.com/issue/WI-43453

[2018-09-07 15:18] moufmouf commented on #5
Cool. Happy to help if I can.
I'll close this issue since this is now in your hands :)

[2018-09-07 15:18] #5 closed

[2018-09-07 16:43] neuro159 commented on #5
CC: 2M file with 2853 non-absolute Exceptions namespace reference eg @throws Exceptions\ApacheException -> was a full file scan for use for each ref.
Note: such syntax is DISCOURAGED. Workaround -> always use absolute NS ref in such cases!
Anyway, fixed ns total ref resolve local 5 min->100ms on indexing (or typing)

[2018-09-07 16:44] neuro159 commented on #5
You guys might want to change all those
@throws Exceptions\ApacheException
to
@throws \Exceptions\ApacheException

[2018-09-09 17:20] vladyslavstartsev opened #15 "Implement psr2 and generated functions"
As you can see here. The comperation is with `FALSE` and not `false`.

If you look in the [psr2](https://www.php-fig.org/psr/psr-2/#25-keywords-and-truefalsenull), you will see that it's wrong.

https://github.com/thecodingmachine/safe/blob/a9415e4b4b71687d2200e1a5d98bc3933a0cc8ec/generated/eio.php#L24

Is that ok to have `FALSE`?

[2018-09-10 07:34] moufmouf commented on #5
Woot! That was fast. Thanks a lot @neuro159 !
And I'll sure fix the relative reference!

[2018-09-10 07:40] moufmouf commented on #15
You are 100% right.

I should certainly call a CS fixer on generated files automatically.

[2018-09-10 10:13] vladyslavstartsev opened #18 "drop json.php"
drop [json.php](https://github.com/thecodingmachine/safe/blob/master/generated/json.php) when php 7.3 is out. It now [throws errors by default](https://laravel-news.com/php-7-3-json-error-handling)

[2018-09-10 15:05] moufmouf commented on #18
PHP 7.3 adds a new flag `JSON_THROW_ON_ERROR` but you must explicitly set it.

If you don't set it, by default, the behaviour will be to return `null` if an error occurs.

So I think I'll keep the `json.php` file. I might rewrite it though to use the new flag by default.

[2018-09-10 15:05] #18 closed

[2018-09-10 15:53] #15 closed

[2018-09-10 15:54] moufmouf commented on #15
Fixed in #19 !
Thanks for reporting.

[2018-09-13 13:02] moufmouf opened #21 "sprintf code is broken"
Code generated:

[code]

Correct code:

[code]

[2018-09-13 14:08] moufmouf commented on #21
Fixed in #22

[2018-09-13 14:08] #21 closed

[2018-09-13 20:15] Oxicode opened #25 "function copy"
please

[2018-09-13 20:59] WillyReyno opened #26 "Function preg_match not working properly"
Method preg_match doesn't seem to be working properly after installing Safe.

I made a regex to split spotify URL and retrieve the id. Here is my code which is working when I remove  Safe's use function :
[code]
For the url `https://open.spotify.com/track/0nCqpKBrvDchO1BIvt7DTR?si=iLUKDfkLSy-IpnLA7qImnw` the return of $matches[1] should be `0YCRJcAXQ3NSfKN1x1IXK3`.
With Safe, $matches returns null

[2018-09-13 21:04] mallardduck commented on #25
Not on the project, but I'm curious what you'd like to see done to PHP's `copy`?
It's already a consistent function that simply returns a boolean no mater what.
Does this type of function really need to be wrapped too?

[2018-09-13 21:35] mallardduck commented on #26
Give this a shot here:

[code]

[2018-09-13 21:59] WillyReyno commented on #26
Well, that was simple. Thank you!

However I don't know if the package should change the behavior of the original method (even though it was a bit magic)?

[2018-09-13 22:04] mallardduck commented on #26
Sure thing, glad I could help!

I haven't tested it myself - yet - however I think it may be a behavior that's unavoidable when shimming this type of function. I'll test it for real and then report back.

[2018-09-13 22:27] mallardduck commented on #26
So after a bit of testing I found out that you're correct in that this change in behavior could be avoided. I'm not sure how that would be done since I'm not familiar with the generation of the shims - but changing the behavior here should be avoidable for sure.

Essentially just turning the last `elseif` into the `else` used would fix it.

[2018-09-14 07:47] moufmouf commented on #26
Hoooo I see... Thanks @WillyReyno and @mallardduck  for pointing this out.

Just reproduced the error in a unit test. The issue arises with all functions that have optional "by reference" arguments.

I'm trying to implement @mallardduck fix in the code generator right now.

[2018-09-14 09:06] #26 closed

[2018-09-14 09:07] moufmouf commented on #26
....aaaaand it's fixed!

https://github.com/thecodingmachine/safe/commit/03998c2fcfe93de64d33bfad9465521d239551f3

:)

Thanks to all of you!

[2018-09-14 09:08] kasperg opened #29 "Missing getcwd function?"
Thanks a bunch for sharing safe. It helps me up my PHPStan level without writing to much tedious code.

One question: Is the [`getcwd()` function](http://php.net/manual/en/function.getcwd.php) missing?

I tried looking into this and the documentation seems as if it would be detected as falsy and as far as I can tell neither module nor function is explicitly declared as ignored.

I tried running th

[2018-09-14 09:09] moufmouf commented on #29
Yeah... I'm having the same problem right now. The documentation SVN seems to be down since approximately one hour. Hopefully, it will be fixed soon.

[2018-09-14 09:14] moufmouf commented on #29
Regarding `getcwd`, you are perfectly right, it should be detected.

Detection is done in `DocPage::detectFalsyFunction`: https://github.com/thecodingmachine/safe/blob/726b9993e0a80fd125a2ce4ca777ae6bdacd03cb/generator/src/DocPage.php#L26-L48

It is really heuristic as the doc can be written in a lot of different ways.

I'll fix this for `getcwd`

[2018-09-14 09:25] temp opened #30 "Error in Safe\preg_match()"
Transition from:
[code]
To:
[code]
Will differ, since there is a null-check for $match in the wrapper function, and match hasn't been initialized yet.
People might stumble over that.

[2018-09-14 09:40] kasperg commented on #29
I took a stab at this myself. We can continue the discussion in the PR.

[2018-09-14 09:40] #29 closed

[2018-09-14 11:27] fezfez commented on #7
or DateTime::createFromFormat

[2018-09-14 11:48] moufmouf commented on #30
Hey @temp .

This is a duplicate of #26 that was fixed a few hours ago.
Try to `composer update`, the issue should be fixed now.

[2018-09-14 11:48] #30 closed

[2018-09-14 11:59] mallardduck commented on #25
@moufmouf Absolutely! I can totally agree with your sentiments. I think I just didn't explain my thought very well. Essentially I feel that the return value is less important now that a failure status is indicated by an Exception.

I know that's still a pretty poor explanation, but IMO there's no need to capture the result of this type of function when it's always returning true. Instead you can j

[2018-09-14 12:03] moufmouf commented on #25
Absolutely! If you have a look at the generated function in "safe", you will see that for the functions that the functions that used to return a boolean for success/failure are now returning nothing.

For instance, chown used to return a bool, but in Safe, it returns nothing (void): https://github.com/thecodingmachine/safe/blob/50ea87162e0db259391960b92f5a057c4037fcd8/generated/filesystem.php#L81

[2018-09-14 12:05] moufmouf opened #33 "False positive: is_executable"
is_executable should not be part of "safe".
It definitely should return a boolean.

[2018-09-14 12:08] moufmouf commented on #33
Other false positives:

- `is_uploaded_file`
- `stream_is_local`

[2018-09-14 12:54] #33 closed

[2018-09-14 15:39] iltar opened #35 "JSON example does not appear to be correct"
The example in the readme is not correct, it doesn't take NULL as valid json. While technically it doesn't really happen often, it's still a legit use-case:
[code]
As shown here, `null === json_decode(json_encode(null));`
https://3v4l.org/Oq7sE

[2018-09-14 19:12] moufmouf commented on #35
You are 100% correct.

@davide_b88 also declared the issue on Twitter: https://twitter.com/davide_b88/status/1040503898438610944

Hopefully, Safe implementation is correct, but I definitely need to fix the README.

https://github.com/thecodingmachine/safe/blob/master/lib/special_cases.php#L27-L34

[2018-09-14 22:08] #35 closed

[2018-09-16 09:42] moufmouf opened #38 "Automate Rector file creation"
Rector can be used to massively apply Safe functions through a complete codebase.

Writing the config file can be long (there are >900 functions to replace)

We should see if it is possible to generate a rector config file or a rector extension that does this.

[2018-09-16 09:47] moufmouf commented on #38
@TomasVotruba @rectorphp

[2018-09-16 09:57] TomasVotruba commented on #38
Great idea :+1:

I think the same way you generate function, just generate the `rector.yml` file.

Then it coul be run like:

[code]

And with autoimports:

[code]

[2018-09-17 14:51] moufmouf opened #41 "CurlException is in double"
CurlException is stored in "lib/" **and** in "generated/" folder.

We need to be sure the file generation does not generate exceptions already defined in "lib/".

[2018-09-17 14:55] moufmouf commented on #38
Done in #40

[2018-09-17 14:55] #38 closed

[2018-09-17 15:33] moufmouf commented on #41
Warning: Ambiguous class resolution, "Safe\Exceptions\JsonException" was found in both "/vendor/thecodingmachine/safe/lib/Exceptions/JsonException.php" and

[2018-09-18 07:41] #41 closed

[2018-09-18 09:45] staabm opened #43 "php-cs-fixer incompatibility"
I guess it should be mentioned in the readme that using this lib will create problems with php-cs-fixer. most fixers they ship are tagged with "risky: does not work when you override core method XY in your namespace"

is this a valid problem in combination with this lib?

[2018-09-18 10:13] moufmouf commented on #43
Oh, I was not aware of that...
I'll check this!

[2018-09-18 13:18] moufmouf commented on #43
Ok, after checking carefully, I see that the 'native_function_invocation' option is preventing Safe from running because it turns

[code]

into

[code]

On the other hand this is completely logical and the 'native_function_invocation' is not part of any preset in PHP-CS-Fixer. So if the user enables this preset, I guess he already know what he is doing. I'm a bit reluctant to add something in the

[2018-09-18 13:36] staabm commented on #43
I dont know the full features set of this lib, so I can't say what other things might be influenced.

but yes I intially reported this error because of `native_function_invocation` which is used in some libs for performance reasons (as it fixes the overhead in php to locally lookup native-function names before falling back to native).

maybe it would make sense that the auto-refactor tool would is

[2018-09-18 13:36] ATouhou opened #44 "Performance"
Hello.
Could you do a benchmark of perfomance impact with and without using this :-)
Thank you

[2018-09-18 14:54] moufmouf commented on #44
That was at some point in my TODO list, but I must admit I forgot a bit the performance part.

:+1: I'll keep this issue open until I find some time to benchmark the lib.

[2018-09-18 15:31] ATouhou commented on #44
Thanks :-)! looking forward :D

[2018-09-22 09:09] standa opened #46 "simplexml won't work"
Unless I get the idea wrong, simplexml return types will not work.

[code]

I believe this is a general problem of https://github.com/thecodingmachine/safe/blob/master/generator/src/WritePhpFunction.php#L51

[2018-09-24 15:47] moufmouf commented on #46
Jesus!!! Let's fix this immediately!

[2018-09-24 20:29] moufmouf commented on #46
Thanks a lot for the feedback. Fixed in #47.

[2018-09-24 20:29] #46 closed

[2018-09-25 07:45] standa commented on #46
@moufmouf wow respect for resolving this so quickly! One more proof for us to continue using this great library!

[2018-09-25 12:16] Jamesking56 commented on #7
The simplest way I can think of doing this is to simply create extended classes which override the unsafe methods.

Like `Safe\DateTime` would override `createFromFormat`, check if it returns `false` and then throw an exception if it does.

[2018-09-30 20:30] mickaelandrieu commented on #44
is a Blackfire profile from your test suite can help?

[2018-10-11 12:19] moufmouf commented on #44
.... and it is finally done.

Bottom line: adding Safe to your projects takes ~700µs for the autoloading part, on each request. This is quite low considering there are 1000+ functions loaded.

More details: https://github.com/thecodingmachine/safe/tree/master/performance

See #51

Don't hesitate to reopen an issue if you have more specific questions.

[2018-10-11 12:19] #44 closed

[2018-10-12 09:35] t0nic commented on #7
I am willing to work on this, is this okay?

[2018-10-12 14:49] moufmouf commented on #7
Definitely!

Most of the code of the functions is auto-generated from the PHPDoc. Alas, I think we won't be able to do the same for objects (it is way more complex).

Unless you can find a way to do it automatically that I did not think of, we will have to deal with each object manually.

Pick whatever object you want to wrap (DateTime and SplFileInfo seem to be 2 good candidates) and put the wrap

[2018-10-24 13:58] fezfez opened #52 "Missing filesize function"
PHPdoc say :

Returns the size of the file in bytes, or FALSE (and generates an error of level E_WARNING) in case of an error.

see http://php.net/manual/en/function.filesize.php

[2018-10-29 21:39] BackEndTea opened #53 "Make all functions static methods"
I'd like to implement this library in one of my projects, but i'm a bit worried about the added overhead of all the files, when i won't use 90% of them.

So my proposal would be to change all the functions and add as static methods to classes.

So instead of calling `Safe\getcwd();` I would call `Safe\Dir::getcwd();`. This means that the classes can be added to the autoloader through psr-4, and th

[2018-10-30 16:50] moufmouf commented on #52
Fixed in #54 .
Thanks!

[2018-10-30 16:50] #52 closed

[2018-10-30 17:00] moufmouf commented on #53
Hey @BackEndTea ,

We actually spent quite some time wondering if I should go with the functions or the classes approach.

Indeed, there is no functions autoloading in PHP, so all the files must be loaded upfront.

What I really wanted to do with Safe was to write a library that was really easy to add and that did not disrupt your source code. You can simply add a single line (`use function Safe\g

[2018-10-31 09:23] BackEndTea commented on #53
Thanks for the reply @moufmouf. I missed the benchmark, and I assumed the performance hit would be much more than just 700µs. A hit that small is something I should be able to cope with.

[2018-11-05 09:50] vhenzl opened #55 "func_get_arg() cannot be wrapped"
Wrapping `\func_get_arg()` into `Safe\func_get_arg()` doesn't work: https://3v4l.org/hatPn

[2018-11-05 09:58] vhenzl opened #56 "Parameter $limit of preg_split should be nullable"
PHP documentation says:

So `$limit` should be `?int` but in the generated `preg_split` function it is `int` only.

[2018-11-08 11:16] moufmouf commented on #55
Ho absolutely!
`func_get_arg` results depends on the scope it runs in, so it cannot be wrapped.

I definitely need to fix this!

[2018-11-08 14:42] #55 closed

[2018-11-08 14:46] moufmouf commented on #56
Fixed in #58.

[2018-11-08 14:46] #56 closed

[2018-11-08 19:36] vhenzl commented on #56
Great, thanks a lot 👍

[2018-11-12 11:44] moufmouf opened #60 "session_register is wrapped but does not exist in PHP 7"
See http://php.net/manual/fr/function.session-register.php

Maybe there is a way to avoid bundling those pages, looking at the supported version signature?

[2018-11-12 11:47] moufmouf commented on #60
Note: in the PHPDoc, the deprectated and removed methods are marked with a XML entity.

For instance:  &warn.deprecated.function.5-5-0.removed.7-0-0.alternatives;

[2018-11-13 14:00] #60 closed

[2018-11-26 18:22] roukmoute opened #64 "Sprintf expects float|int|string|null, Object given"
https://phpstan.org/r/b54e9c9d-6535-492e-b88d-4b566c97edcf

Import this code and replace original `sprintf` with `\Safe\sprintf`.

Now you have anything like:

[code]

But `Baz` has `__toString()` method and it works with original `sprintf`.

[2019-01-04 16:28] vaidiep opened #67 "Warning: mktime() expects at most 6 parameters, 7 given"
When using the mktime() function from Safe without parameters, we get this warning :

`Warning: mktime() expects at most 6 parameters, 7 given`

The reason is that the parameter 7 "is_dst" has been removed in PHP 7.0.0.
(cf. http://php.net/manual/en/function.mktime.php)

![warning__mktime___expects_at_most_6_parameters__7_given__500_internal_server_error_](https://user-images.githubusercontent.com

[2019-01-04 17:20] #67 closed, assigned to moufmouf

[2019-01-10 09:09] akondas opened #71 "Support for preg_replace"
Genesis: https://github.com/doctrine/inflector/pull/110

[2019-01-10 13:46] #71 closed

[2019-01-10 15:45] jyggen opened #73 "call_user_func_array can return false"
`call_user_func_array` returns the return value of the callback, or `false` on error, which means that `false` could very well be a valid and expected.

https://secure.php.net/call_user_func_array

[2019-01-11 08:52] moufmouf commented on #73
Damn it! How could I let that slip through?
There is no proper way to handle errors in `call_user_func_array` and `call_user_func`. I cannot possibly deal with protected methods in a proper way.
I'll simply remove the functions altogether from Safe.

Thanks a lot for opening this issue.

[2019-01-11 09:03] #73 closed

[2019-01-12 17:22] jakubvojacek opened #75 "strtotime error"
Hello,

believe there is an issue with default value of `$now` in `strtotime` method.

These two are not equal while they should be, I think.
[code]

The default value should be `"time()"` instead of `null`

Am I right or is it expected behavior?

Thank you

[2019-01-12 18:20] jakubvojacek opened #76 "openssl_encrypt error"
Hello,

I might have stumbled upon an issue with `openssl_encrypt`.

[code]

I think the issue might be in the default value of `&$tag` since when those parameters are removed, it works.

Or is this an expected behavior?

Thank you

[2019-01-13 10:52] jakubvojacek opened #77 "Suppressing errors"
Hello,

we have a custom error handler

[code]

and in combination with thecodingmachine/safe it does not work as I would expect. For example `Safe\file_put_contents` throws now ErrorException instead of FilesystemException because the warning is caught by my error handler. Adding `@` to `Safe\file_put_contents` does resolve it. Or is there a better way how to have custom handler and still use the

[2019-01-20 15:04] simPod opened #78 "Strpos is missing"
http://php.net/manual/en/function.strpos.php

States:

IMO it should be included in Safe

[2019-01-21 16:22] bolmstedt opened #80 "array_search should not be part of Safe"
`array_search` says:

It is not an error not finding something you search for, therefore it seems to be outside of Safe's scope.

[2019-01-21 17:32] simPod commented on #80
For me: I would rather expect `null` or thrown exception but definitelly not `FALSE`.

🤔

[2019-01-21 17:33] simPod commented on #78
I'm not saying it's error. But the behaviour is twisted. Exception != Error

[2019-01-21 17:34] simPod opened #81 "fsockopen() is missing"
Right now, I have to do this:

[code]

It would be nice to do `$filePointer = \Safe\fsockopen(...);` instead.

[code]

[2019-01-22 13:14] moufmouf commented on #81
Absolutely! Let's add `fsockopen` to the list :)

[2019-01-22 13:46] moufmouf commented on #78
Completely agree with @bolmstedt .
strpos is often used to find if a string is part of another string. You expect it to return false.
You should not use exceptions for control-flow, only to handle hard errors. Hence, it's logical to me that `strpos` returns false if the needle was not found.

[2019-01-22 13:46] #78 closed

[2019-01-22 14:59] bendavies opened #82 "add date creation methods?"
these can return false:
http://php.net/manual/en/function.date-create-from-format.php
http://php.net/manual/en/function.date-create-immutable-from-format.php

there are probably others? WDYT?

[2019-01-22 15:22] moufmouf commented on #80
o_O You are perfectly right!
I definitely need to fix this!

[2019-01-22 16:11] bendavies opened #83 "strtotime needs a special case"
Hi there!
Thanks for the great library!
I think I've found a bug when integrating safe into my project.

Because of this:
https://3v4l.org/HL9Xn
`strtotime('+1 day')` is not equivalent to `\Safe\strtotime('+1 day')`, so looks to need some special handling, to not pass null as the 2nd param if the caller didn't specifically pass null, or enforce int for the 2nd param, or pass `time()` manually if n

[2019-01-23 17:01] moufmouf commented on #83
True! The default value for the second parameter in the PHP doc is "time()" (which of course is not a "valid" default value from a PHP standpoint). It gets replaced by null and that causes the issue.

Looking at the documentation, the `touch` function might also be impacted.

[2019-01-23 17:19] moufmouf commented on #75
:+1:

Thanks for the issue. I'll look into it ASAP.
Related to #83 and #85

[2019-01-26 16:29] JanMikes opened #86 "Argument 2 passed to Safe\openssl_sign() must be of the type string, null given"
Hello!

I have following code:
[code]

And i get following error: `Argument 2 passed to Safe\openssl_sign() must be of the type string, null given`

I can get this fixed by adding `$signature = ''` before calling `openssl_sign()`. I understand the error, but i expected (and it worked before using Safe package), that `$signature` variable will get created 😄

[2019-01-28 17:10] josefsabl opened #87 "preg_match can raise warning which is not converted to exception"
e.g.:

[code]

[2019-01-28 17:36] josefsabl commented on #87
Please disregard this issue it looks like my caching framework has something to do with it.

[2019-01-30 13:33] bolmstedt opened #88 "mb_check_encoding should not be part of Safe"
`mb_check_encoding` returns `true` if the tested string is the correct encoding and `false` if it's not, which is not an error. I do have to say that the description of the return values on php.net is unclear, but the function's purpose is pretty clear from function description, naming and boolean return value.

What's more, Safe's implementation has `void` as return type.

I paraphrase what I sai

[2019-01-30 14:20] roukmoute opened #89 "Add phpcs rule?"
Hi,

What do you think about to add new repository to fix automatically via phpcs or phpcsfixer all imports instead of just detecting it via phpstan?

[2019-01-30 14:33] moufmouf commented on #89
Hey @roukmoute ,

I'm not a PHPCS or PHP-CS-Fixer expert but I'm not sure these tools can work in the case of Safe (because they must understand if a given function is part of the Safe namespace or not).

So far, you can use "Rector" to automatically fix these imports: https://github.com/thecodingmachine/safe#automated-refactoring
It's a bit like PHP-CS-Fixer but it acts at the abstract syntax tre

[2019-01-30 14:47] moufmouf commented on #75
Closed in #85
Actually, there were way more functions impacted. I think I caught them all :)

[2019-01-30 14:47] #75 closed

[2019-01-30 14:47] moufmouf commented on #83
Closed in #85

[2019-01-30 14:47] #83 closed

[2019-01-30 15:04] #80 closed

[2019-01-30 15:09] #88 closed

[2019-01-30 20:38] moufmouf commented on #86
Hey @JanMikes ,

Ok, I can confirm I reproduced the issue in this unit test: #91 .
Still have to find a workaround!

[2019-01-30 20:47] moufmouf commented on #86
Ok, found a way.

The PHPStan function map tells us if a parameter passed by reference (like $signature) is supposed to be used for read and write or for write only.

Typically, `$signature` is a write only parameter. Any write only parameter should be considered as nullable (even if they are not documented as such), since we can put null in input and they will produce a string output.

**PHPStan'

[2019-01-30 20:55] vdvleon opened #92 "Removing functionality is never a minor change! (array_search and mb_check_encoding)"
In version v0.1.12 array_search and mb_check_encoding were removed from supported functions.
However, this is a major change! Some projects break on this because they have dependencies like "^0.1.11". I think the functions should be returned in version v0.1.13, and then re-removed as a major update v1.0.0.

[2019-01-31 11:39] bolmstedt commented on #92
Well, https://semver.org/#spec-item-4 states that:

So it's technically not wrong. If anything, it might be nice to at least only make BC incompatible changes in a minor (y) version.

[2019-01-31 11:58] kibertoad commented on #92
@bolmstedt Technically - yes, you are right. However, when an open-source library becomes actively used, `initial development` phase is in practice over; it's a much more community-friendly approach to avoid breaking changes or at least communicate these changes in advance to popular projects that depend on the library.

[2019-01-31 13:16] moufmouf commented on #92
Hey guys!

You are absolutely right. The problem is that it is hard to know when a library can be considered as actively used.

I made the BC break willingly, thinking nobody was actively using `Safe\array_search` or `Safe\mb_check_encoding`.
It seems I was wrong, Safe is more used than I used to think (\o/)
The fact that @vdvleon is opening this issue is a good marker that it is actively used, bu

[2019-01-31 13:16] #92 closed

[2019-02-02 13:18] JanMikes commented on #86
Thank you very much, I will try it out.

[2019-02-02 13:25] #86 closed, assigned to nobody

[2019-02-02 14:20] moufmouf commented on #77
Hey @jakubvojacek ,

I've had a look at it the other way.
Yes, your error handler will catch most of the errors (making Safe less useful). That's actually ok.
I did not want Safe to break existing error handlers.

Also, there are errors that are caught by Safe and not caught by error handlers (like when using json_decode I think).

I tried to document it here: https://thecodingmachine.io/introduci

[2019-02-02 14:22] moufmouf commented on #81
Closed in #84.

[2019-02-02 14:22] #81 closed

[2019-02-05 08:32] rieschl commented on #82
...and what about  the `DateTime` and `DateTimeImmutable` classes? They "convert" invalid date strings which is even worse than `false` and just log it in `DateTime::getLastErrors`
Or is this package restricted to functions?

[2019-02-05 08:45] moufmouf commented on #82
@bendavies You are perfectly right.
The fact is I generate the Safe functions from the PHP doc (there are too many functions to do that manually).
date_create_from_format is an alias of DateTime::createFromFormat and is not documented as the other functions. My code generator for Safe doesn't know yet how to handle the aliases (or the classes).

It is definitely on the TODO for Safe v1 though. Any

[2019-02-26 23:36] acabal opened #94 "Safe\preg_replace fails PHPStan check"
Given the following minimal test case:

[code]

When running `phpstan analyse -l 7` on the above, it outputs: `Parameter #1 $haystack of function stripos expects string, array|string given.`

This is because `preg_replace()` can return either a string or an array depending on what the third parameter is. In this case, the third parameter is a string, so it should return a string and we should be O

[2019-02-27 22:45] Sarke opened #97 "Imagick"
It's a common extension and lots of their methods return `false` on failure, which is frustrating.

How would I go about adding it?

Great repo btw!

[2019-02-28 07:42] jderusse commented on #94
As you said, the return type of the method depend on the type of the parameter, that's why the PHPDoc is not enougth in a static analysis context: the analyser have to know how the method works, OR have to read and understand the documentation, which is not the case of PHPStan.

PHPStan is able to analyse the `\preg_replace` function because a special extension has been implemented to cover that c

[2019-02-28 07:54] jderusse commented on #97
The current implementation of Safe rewrite only functions, and could not cover the Imagick classes.

Unless refactoring Safe in order to take Class into account and generate something like:
[code]
ping @moufmouf what do you think?

[2019-02-28 19:41] acabal commented on #94
OK, I'll report this to PHPStan to see what they say. Thanks!

[2019-02-28 19:41] #94 closed

[2019-02-28 20:14] acabal commented on #94
FYI PHPStan [kicked the issue back here](https://github.com/phpstan/phpstan/issues/1932) and say to implement it in https://github.com/thecodingmachine/phpstan-safe-rule

In either case it doesn't make sense for us to use Safe, when doing so causes PHPStan to output errors for correct code. :(

[2019-03-06 14:58] moufmouf commented on #97
Exactly! Overloading classes is harder than overloading functions and I haven't had time to crack the issue yet.

If anyone is feeling up to the task, do not hesitate to give me a hand :)

[2019-03-07 13:47] moufmouf commented on #94
PHPStan was right to kick the issue back here. Thanks @jderusse for pointing the "ReplaceFunctionsDynamicReturnTypeExtension.php". I backported it to Safe\preg_replace in https://github.com/thecodingmachine/phpstan-safe-rule/pull/10

[2019-03-07 17:39] acabal commented on #94
Awesome, thanks! :)

[2019-03-14 11:21] kkrieger85 opened #101 "PHP Parse Error"
[code]

I tried to install Sylius/Sylius via composer with php7.3

`/opt/plesk/php/7.3/bin/php /usr/lib/plesk-9.0/composer.phar create-project sylius/sylius-standard `

Used Version (from composer.lock)

[code]

[2019-03-14 11:24] kkrieger85 commented on #101
https://github.com/thecodingmachine/safe/blob/v0.1.14/generated/apc.php#L91

[2019-03-14 11:34] kkrieger85 commented on #101
Seems, that server CLI PHP Version still 7.0.x

[2019-03-14 11:35] kkrieger85 commented on #101
Solved it via using PHP7.3.x instead of default "php" which was 7.0.x.

[2019-03-14 11:35] #101 closed

[2019-03-16 15:33] dmecke opened #104 "array_multisort does not sort"
Given the following phpunit test case:

[code]

it passes with php's native `array_mulitsort`. Using `Safe\array_multisort` it fails, though. The array `$integers` is left unchanged. In the documentation (and therefore in safe) the third parameter is _not_ a reference while php actually treats it as one.

[2019-03-19 10:55] moufmouf commented on #104
Hey @dmecke !

I just wrote a unit test to try to reproduce your problem, but I fail reproducing it.

The code you give seems to work OK with Safe and without Safe. Are you sure there is an issue? Could it be dependent on the PHP version (I'm testing with PHP 7.2)

[2019-03-19 11:33] dmecke commented on #104
Hm, yes, I just reproced it on my machine with php 7.2. I'd like to open a pull request, but I am not sure where this test should go. Is the `generator/tests` directory the right place? And if so, where should a function specific test like this go?

[2019-03-25 08:19] dmecke commented on #104
I've created a pull request. I think travis fails because of this (so the reproduction works), but I am not sure if the error below is related to a misconfiguration on my side.

[2019-04-03 07:45] ke20 opened #107 "fsockopen() throws \ErrorException"
In a Symfony project I have a method with the code as below :

[code]

When the calls to the function `fsockopen()` failed, it's an \ErrorException which is throwed and not a `Safe\Exceptions\NetworkException`.

In the [php doc](https://www.php.net/manual/en/function.fsockopen.php#refsect1-function.fsockopen-errors) we can see :
[code]
It's an expected behavior or it's bug ?

Should I catch the `\

[2019-04-06 22:34] goldingdamien opened #108 "List of safe functions"
Is there a list of safe functions that can be used?

[2019-04-08 16:58] Aerendir opened #109 "Class "Rector\Rector\Function_\FunctionReplaceRector" was not found"
Trying to use Rector, I get this errors:

I've configured Rector to import the config file, but also using it directly from the command line I get the same error.

Looking in the code of Rector, I cannot find any namespace `Rector\Rector\Function_\`, so is obvious the class doesn't exist.

I've never used Rector nor this library, so I'm not able to fix the issue on my own at this time.

Anyone who

[2019-04-11 06:54] jakubvojacek commented on #76
believe this has been resolved in the latest release, thank you, closing 👍

[2019-04-11 06:54] #76 closed

[2019-04-11 22:45] bolmstedt opened #110 "Safe compatibility with PHP 7.4 breaking changes for password_hash"
PHP 7.4 will make a breaking change for `password_hash()`, changing `PASSWORD_DEFAULT` to `null` and allowing the algorithm (second parameter `$algo`) to be `null` and also accept strings while throwing deprecation warnings for usage of integers.
Source: https://wiki.php.net/rfc/password_registry

It's worth thinking about how to solve this and other similar issues. One way is to try to patch func

[2019-04-12 08:44] moufmouf commented on #110
Hi Marcus,

This is a very very good question.

We could definitely create a new minor version that is PHP 7.4+ only. I think it will really depend on how stable Safe is when PHP 7.4 is released. There have been quite a number of issues solved in the last months and I don't have time to start maintaining 2 separate branches when an issue is raised.

Your solution with checking the PHP version woul

[2019-04-12 09:44] bolmstedt commented on #110
Hi David,

I didn't really think about how the generated function for 7.4 might look like, but it looks like it would be fully backwards compatible. The best solution here is to do nothing. I might have been worried over nothing!

[2019-04-15 15:15] B-Galati commented on #107
It can be closed, we figured out that it was PhpUnit error handler that was catching the error before it can be thrown by Safe.

If it can help, we created a function to execute code without any error handler:

[code]

[2019-04-16 11:00] j6s opened #111 "[FEATURE] Add `file` method"
I stumbled over this method recently: `file($path)` reads a file line-by-line as an array.
As many file-related methods in PHP this method returns an array if everything went well but `false` if an error occurred - which makes it a perfect fit for safe.

I will attempt to add this method later this week.

https://www.php.net/manual/en/function.file.php

[2019-04-17 16:09] #111 closed

[2019-04-17 20:07] moufmouf commented on #109
This is definitely related to the rector version. The rector file provided by Safe is designed to run against Rector 0.3.
I'll be working on a new rector file for 0.4.

[2019-04-18 07:31] #109 closed

[2019-04-18 07:56] moufmouf commented on #107
:+1: Indeed, Safe does not catch "warnings" sent by the PHP functions. Most PHP functions will throw warnings and therefore, a error handler like PHPUnit or Symfony's will probably trigger an error before Safe can.

I've been wondering whether I should silence the warnings or not (I could do that in the Safe functions using "@fsockopen". So far, I've resisted the urge to do so. Let me know if you

[2019-04-18 07:56] #107 closed

[2019-04-18 07:57] moufmouf commented on #108
Absolutely! It is available here: https://github.com/thecodingmachine/safe/blob/master/generated/functionsList.php

You can use it in your own programs, this file will not move in the coming versions. I'm already relying on it for some external plugins like the [Safe PHPStan rules](https://github.com/thecodingmachine/phpstan-safe-rule/)

[2019-04-18 07:57] #108 closed

[2019-04-18 07:57] #89 closed

[2019-04-18 12:11] B-Galati commented on #107
IMHO it's more reliable with the current behavior but not the best in terms of DX.

In any case, it would be a good idea to document it if not done yet.

[2019-04-20 10:34] Aerendir opened #115 "gethostname() is not present in the list"
The function `gethostname()` returns the host name or false on failure, but it is not present in the library.

[Documentation on PHP.net](https://www.php.net/manual/en/function.gethostname.php#refsect1-function.gethostname-returnvalues)

[2019-04-20 17:34] Aerendir opened #116 "[BUG] The release 0.1.15 doesn't contain the updated rector-migrate-yml file"
This is a really strange behavior and I really don't have an explanation for it.

But, also if in the release diff the `rector-migrate.yaml` file seems to be updated with the new `RenameFunctionRector`, when the package is downloaded, it has the old file that uses the `FunctionReplaceRector` class.

You can download the zip file of the release to check by yourself that it is not updated.

This is

[2019-05-07 07:34] j6s opened #117 "Add support for strrpos"
The `strrpos` method returns `false` if the needle is not found:

https://www.php.net/manual/en/function.strrpos.php

Not sure if we can even detect this wording because the docs themselves are pretty shy about mentioning this.

[2019-05-23 11:46] Aerendir commented on #116
Is there anyone to listen?

[2019-05-23 11:55] Aerendir opened #118 "getimagesize() is not present in the list"
The function `getimagesize()` returns the image size and other info about it or false on failure, but it is not present in the library.

[Documentation on PHP.net](https://www.php.net/manual/en/function.getimagesize.php#refsect1-function.getimagesize-returnvalues)

[2019-05-30 17:55] simPod opened #119 "array_flip missing"
Hi, shouldn't there be `array_flip()` in this lib?

Thanks!

[2019-05-31 16:12] #116 closed

[2019-06-12 11:11] josefsabl opened #120 "\Safe\file_get_contents generating warning instead of exception"
When calling `\Safe\file_get_contents("http://nonexistanturl.foo")` generates warning that cannot be caught.

The problem is that file_get_contents not only returns FALSE on failure but can also generate warning.

Supressing the warning by adding @ to \file_get_contents internal call fixes the issue.

[2019-06-12 11:23] andreasschroth commented on #120
But that's not the correct solution of the problem, isn't it?

The purpose of this package is, imo, that we can safely use all the functions provided here. This means that an exception is called in case of an error / warning / etc.

If you just silence the call internally, it's not even logged in the logs - that's the opposite of what we want.

[2019-06-12 16:30] josefsabl commented on #120
Not true.

If the @ operator is not there, the script crashes and there is no way to handle it in the code. There is no way to catch the warning without fooling around with error handlers (I guess).

If the operator IS there, the Filesystem exception is generated by your library correctly, it can be caught and acted upon.

[2019-06-12 16:30] josefsabl commented on #120
Not true.

If the @ operator is not there, the script crashes and there is no way to handle it in the code. There is no way to catch the warning without fooling around with error handlers (I guess).

If the operator IS there, the Filesystem exception is generated by your library correctly, it can be caught and acted upon.

[2019-06-13 10:45] andreasschroth commented on #120
Sorry then, got it wrong then at the beginning. :) Then I think your solution is a good way as the exception is already thrown anyway. Nobody needs the exception and the warning.

Thanks for explanation.

PS: I'm not the maintainer of this package.

[2019-06-21 15:44] moufmouf commented on #117
Hey @j6s,

Actually, Safe returns `false` only for error cases, not for any method that could return false.
In the case of "strrpos" (or 'strpos'), we can advocate that "false" is a legitimate return type. It means "I did not find the string" and not: something went wrong when I was analyzing the string.

See also: https://github.com/thecodingmachine/safe/issues/78

[2019-06-21 15:44] #117 closed

[2019-06-21 15:47] Kharhamel commented on #119
Thanks! Indeed, there are methods that return null instead of false on failure.
I started a PR to detect those:

https://github.com/thecodingmachine/safe/pull/122

[2019-06-21 18:12] j6s commented on #117
You are right, this is not an error case.
Sorry for the confusion.

[2019-06-25 09:16] moufmouf commented on #115
Closed by #123

[2019-06-25 09:16] moufmouf commented on #118
Closed by #123

[2019-06-25 09:17] #115 closed

[2019-06-25 09:17] #118 closed

[2019-06-25 09:21] Kharhamel commented on #119
merged

[2019-06-25 09:21] #119 closed

[2019-07-14 13:15] BackEndTea opened #124 "Add PHPStan/Psalm templates"
Currently methods like `preg_replace` have a return type of `string|array` specified.
When in reality that return type is dependant on the input.

Static analysis tools, like PHPStan and Psalm can be made aware of this by using `@template` annotations, like so:

https://phpstan.org/r/4f0fc5ec-ad1a-45e8-a592-a46106267d67

This means that the tools can understand what exactly the output is going to

[2019-07-17 14:56] WillyReyno opened #125 "Add image creation methods"
Image creation php functions all return false when an error occur, I think they should have their own Safe counterparts!

- https://www.php.net/manual/fr/function.imagecreate.php
- https://www.php.net/manual/fr/function.imagecreatefrombmp.php
- https://www.php.net/manual/fr/function.imagecreatefromgd2.php
- https://www.php.net/manual/fr/function.imagecreatefromgd2part.php
- https://www.php.net/man

[2019-07-31 15:14] reedy opened #126 "Add .gitattributes"
Hello!

Is it possible to get a .gitattributes file added to this repo?

See https://medium.com/@pablorsk/be-a-git-ninja-the-gitattributes-file-e58c07c9e915 and https://madewithlove.be/gitattributes/ for more information

Thanks!

[2019-07-31 15:18] moufmouf commented on #126
Hey @reedy,

Sure, it makes a lot of sense. I've never played with .gitattributes before. If you are used to it, do you want to contribute a PR?

[2019-07-31 15:19] reedy commented on #126
Yeah, I'm happy to do so. Will try and get it sorted later today :)

[2019-07-31 15:31] reedy commented on #126
Ok, PR for the root/dotfile type files up

What about the other directories? Is `performance` just a performance benchmark?

I'm presuming `generator` isn't needed by 3rd party inclusions, but obviously `generated` and `lib` are? (because they're included in composer.json)

[2019-07-31 15:47] moufmouf commented on #126
Yes "performance" is only for a performance benchmark.
And "generator" is used to generate "generated" files and is not needed at runtime.

So you can blacklist both directories.

[2019-07-31 20:48] reedy commented on #126
Extra directories added

[2019-08-01 09:03] moufmouf commented on #126
Thanks a lot!

[2019-08-01 09:03] #126 closed

[2019-08-01 09:07] moufmouf commented on #124
I don't think there is a way to automatically "generate" the @template annotations.
Code is generated from the PHP documentation and from the [functionMap file](https://github.com/phpstan/phpstan/blob/master/src/Reflection/SignatureMap/functionMap.php)

I cannot analyze those files automatically.

But the idea is very good, and I could make exceptions for those functions and have them written "by

[2019-08-01 15:37] BackEndTea commented on #124
I think @ondrejmirtes may know that for phpstan, or @muglug for psalm

[2019-08-01 22:59] ondrejmirtes commented on #124
Some situations can be described by generics, but a lot of them are more complex and require custom logic. PHPStan has "dynamic return type extensions" for this purpose and they're here in this directory (besides type-specifying extensions for functions like `assert` or `is_int`):

https://github.com/phpstan/phpstan/tree/master/src/Type/Php

The problem is that they're not 1:1 reusable with `Safe`

[2019-08-19 06:52] nauxliu opened #128 "Remove forward_static_call from safe functions"
`forward_static_call` can't be used outside of class.

[code]

[2019-08-19 15:48] moufmouf commented on #128
Oh... you are absolutely right!
And we should also remove `forward_static_call_array`!

[2019-08-20 12:25] #128 closed

[2019-08-22 10:22] KartaviK opened #130 "Generate autoload file with only used methods"
Why i must load all functions every request if I, for example, use only few funcs, like `file_get_contents` and `json_encode`

[2019-08-23 17:24] andreasschroth commented on #130
Sounds like micro optimisation to me. Don't think it will have any measurable performance impact on your application or what is the purpose of your suggestion?

[2019-08-26 16:38] moufmouf commented on #130
If you had to manually import the functions you use, it would make using Safe very impractical.

And indeed, as @andreasschroth puts it, this is a micro optimisation. The whole loading of Safe takes less than 1ms per request.

See https://github.com/thecodingmachine/safe/blob/master/performance/README.md

Unless you have a website with a very very high load, this should really go unnoticed.

Of co

[2019-08-26 16:38] #130 closed

[2019-08-30 11:03] kralmichal commented on #110
Hi,

now that 7.4 is at last beta and RC1 should be released on 5th of September. Is there a chance we can reopen this? Right now there is a problem with testing projects on 7.4 in CI as password_hash has a different signature.

Thanks

[2019-08-30 13:07] Kharhamel commented on #125
#132

[2019-08-30 13:20] moufmouf commented on #125
Thanks @Kharhamel for adding those!

[2019-08-30 13:20] #125 closed

[2019-09-02 12:15] moufmouf commented on #110
Hey @kralmichal ,

Safe signatures are deduced from PHPStan's signature map.
I opened a PR to update this file. Once it is updated, we can regenerate the Safe file and make a new release.

See https://github.com/phpstan/phpstan/pull/2401

[2019-09-04 11:11] kralmichal commented on #110
Hi @moufmouf ,

so based on Ondrej's response in https://github.com/phpstan/phpstan/pull/2401, there needs to be a change made to https://github.com/thecodingmachine/safe/blob/master/generator/src/PhpStanFunctions/PhpStanFunctionMapReader.php.

Am I correct?

[2019-09-05 16:13] Kharhamel opened #133 "ini_set value typehint"
The function ini_set generated has its second parameter typehinted as string, but the documentation says it can be string|int|float|bool.

No typehint should be generated since we already have a correct @param annotation

[2019-09-06 14:32] Kharhamel commented on #133
#134

[2019-09-11 10:04] walkonthemarz opened #135 "apcu_delete @return type is wrong"
https://github.com/thecodingmachine/safe/blob/4e8f840f0a0a2ea167813c3994a7fc527c3c2182/generated/apcu.php#L78

[2019-09-12 03:54] leo108 opened #136 "Should not simply check the return value of apcu_* functions"
e.g. `apcu_delete` returns `false` when the `$key` does not exist in the cache store, and `error_get_last()` returns `null` in this case.

[code]

[2019-09-18 14:09] Kharhamel commented on #82
#138

[2019-09-23 15:42] moufmouf commented on #7
See #138 : it solves the issue for DateTime and DateTimeImmutable classes.

[2019-09-27 03:18] yuxuezhong opened #140 "openssl message error"
openssl should not just use error_get_last() to get the error message, openssl_error_string() should be better.
eg:
This is the code.
[code]
And I got result:
[code]

[2019-09-27 22:07] snapshotpl opened #141 "Mark pure function by Psalm"
https://psalm.dev/articles/immutability-and-beyond#purity

[2019-09-30 07:53] moufmouf commented on #141
That would be a great idea. Of course, we don't want to do that manually.
I guess Psalm has a list of pure PHP functions somewhere in the code. Would you happen to know where it is located?

[2019-09-30 07:58] snapshotpl commented on #141
Just found in https://github.com/vimeo/psalm/tree/master/src/Psalm/Internal/Stubs

@muglug Am I right?

[2019-09-30 16:08] muglug commented on #141
Impure builtin functions are listed here: https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Codebase/Functions.php#L280

All others are assumed pure

[2019-09-30 16:42] moufmouf commented on #141
Excellent! Thanks a lot!

[2019-10-01 22:48] Aerendir opened #142 "Use the right rector to change the functions"
Currently the rector `Rector\Rector\Function_\RenameFunctionRector` is used to rename functions.

The correct rector is `Rector\Renaming\Rector\Function_\RenameFunctionRector`.

It should be changed.

[2019-10-04 10:21] boesing opened #143 "Missing array_replace_recursive and array_replace"
Hey guys,

I recently started using this library and realized that at least some `array_` functions are missing.

- `array_replace_recursive`
- `array_replace`

I tried to find how the package searches for functions to generate. However, I did not dive that deep into the generator code to find why those functions are missing. But as they are not listed in the ignored functions file, I think its wo

[2019-10-14 12:54] Kharhamel commented on #143
We use regexp to parse the php documentation to detect which functions to edit. Since the doc correctly states 'return null on error', I guess it uses a specific formulation which doesn't pass any regexp. I will try to do it this week, unless you want to do it yourself?

[2019-10-14 13:04] Kharhamel commented on #135
Can you elaborate? The php doc states:
"If key is an array, an indexed array of the keys is returned. Otherwise TRUE is returned on success, or FALSE on failure".
"@return bool|array" looks correct

[2019-10-15 13:34] Kharhamel commented on #143
#145

[2019-10-15 13:45] Kharhamel commented on #135
nevermind, I didn't notice our generated apcu_delete return typehint was 'void'. It should be fixed by #145

[2019-10-16 09:51] Kharhamel commented on #110
#146

[2019-10-16 12:59] Kharhamel opened #147 "Return type and doc block generation needs improving"

[2019-10-17 09:13] moufmouf commented on #135
apcu_delete should clearly be removed as trying to delete a non existant cache key is not really an error (the key can be removed by APCu on its own).
Related: #136

TODO: we should remove this function from the next major Safe release.

[2019-10-21 12:00] Kharhamel commented on #147
#149

[2019-10-21 12:00] #147 closed

[2019-10-21 12:05] Kharhamel commented on #140
#148

[2019-10-21 17:07] szepeviktor opened #152 "Unit tests"
Do you plan to implement unit tests?

Personally I suggest only using libraries with tests :)

[2019-10-21 17:09] szepeviktor commented on #152
I see! They are hidden: https://github.com/thecodingmachine/safe/tree/master/generator/tests

[2019-10-21 17:09] #152 closed

[2019-10-22 08:07] moufmouf commented on #120
@josefsabl sorry for the very late answer.

We are having a hard time to decide whether we should silence those warnings or not.
Most of the time, it would work, as the exception thrown manages to get the message of the warning (via the `error_get_last` function).

The problem is that somtimes, some functions are throwing many errors (for instance one E_NOTICE, then one E_WARNING). If we silence t

[2019-10-22 11:44] Kharhamel commented on #136
#150

[2019-11-01 08:33] #136 closed

[2019-11-04 15:01] Kharhamel commented on #142
#154

[2019-11-07 06:16] jakubvojacek commented on #120
I suggested the same in https://github.com/thecodingmachine/safe/issues/77. I think it would be great if all the warnings were silenced

[2019-11-07 08:11] Kharhamel commented on #135
#150

[2019-11-18 15:55] moufmouf opened #155 "Remove filter_has_var from Safe"
This function is a "has" and is meant to return true or false.

[2019-11-29 18:32] andreasschroth commented on #110
Well PHP 7.4 is stable now and released. What's the current state about this issue?

[2019-12-01 19:15] snapshotpl opened #157 "Missing support for rector 0.6"
[code]

[2019-12-11 07:51] snapshotpl opened #159 "Support for phpstan 0.12"
Is it possible to add phpstan 0.12 support to v0.1 branch instead of only 1.0-beta?

[2019-12-11 07:53] snapshotpl commented on #159
https://github.com/thecodingmachine/phpstan-safe-rule/issues/17

[2019-12-11 07:53] #159 closed

[2019-12-11 17:56] davidsneighbour opened #160 "password_* function wrongly typed"
`password_*` functions changed in PHP 7.4, see for instance https://github.com/vimeo/psalm/issues/2458

from https://www.php.net/manual/en/migration74.incompatible.php

[code]

errors for instance in psalm:

[code]

[2019-12-11 18:16] davidsneighbour commented on #160
Probably connected to #110

[2019-12-12 09:02] Kharhamel commented on #110
Hello andreasschroth. We are still not sure how to approach this. I would simply widen the type of $algo to int|string with our custom type map file and be done with it, but it is kind of lazy.

[2019-12-12 09:07] Kharhamel commented on #110
#161

[2019-12-12 09:17] Kharhamel commented on #155
#162

[2019-12-12 12:07] andreasschroth commented on #110
Tbh, I would just go for the most pragmatic solution. It can still be solved in a more proper way and after more thought / discussion have been put into it, in case you don't want to decide for the approach to go yet.

Because right now, with PHP 7.4, the Safe version of password_hash() is unusable.

[2019-12-13 09:21] Kharhamel commented on #160
Hello, does #161 solves your issue?

[2019-12-13 09:22] #155 closed

[2019-12-13 09:23] Kharhamel commented on #135
removed in 1.0.0-beta2

[2019-12-13 09:23] #135 closed

[2019-12-13 09:25] Kharhamel commented on #140
added in 1.0.0-beta1

[2019-12-13 09:25] #140 closed

[2019-12-13 09:25] Kharhamel commented on #133
done in 1.0.0-beta1

[2019-12-13 09:25] #133 closed

[2019-12-13 09:27] Kharhamel commented on #110
type widen is now in the 1.0.0-beta2. I leave this issue open so we can think about a better and less specific solution for this problem.

[2019-12-13 09:28] Kharhamel commented on #82
we now have custom datetime classes in safe in 1.0.0-beta1. Don't hesitate to test them

[2019-12-13 09:28] #82 closed

[2019-12-13 09:32] yuxuezhong commented on #140
That is great! thanks.

[2019-12-13 09:32] Kharhamel commented on #124
@ondrejmirtes now that phpstan does implement templates, do you think we can generate them in safe?

[2019-12-13 09:33] Kharhamel commented on #142
done in 1.0.0-beta2

[2019-12-13 09:33] #142 closed

[2019-12-13 11:15] ondrejmirtes commented on #124
You might be able to describe situations with generics, but not everything.

[2019-12-13 12:05] davidsneighbour commented on #160
Yes, it's working in master. Thank you!

[2019-12-13 12:05] #160 closed

[2019-12-16 13:06] Kharhamel commented on #104
this function was removed in #167

[2019-12-16 13:12] Kharhamel commented on #64
Hello, sorry for the year late reply.

Yes this is the problem with using typehints. Sadly there's no way to typehint 'stringeable' objects and one of the big point of this library is to typehint as much as possible, so this issue is probably not going to be solveable. You can still use the default sprintf though.

Sorry about that.

[2019-12-16 13:12] #64 closed

[2019-12-16 13:49] andreasschroth commented on #64
The best solution here is probably to cast to a string first before passing the argument - with (string).

E.g. line 7: `return sprintf('%s', (string)$node->operator());`

[2019-12-17 22:16] snapshotpl opened #169 "Incorrect createFromPhpError() method?"
Every generated exception method e.g. https://github.com/thecodingmachine/safe/blob/master/generated/Exceptions/FilesystemException.php contains createFromPhpError() method where exception is created from `json_last_error()`. Is it correct behaviour?

Source: https://github.com/thecodingmachine/safe/blob/50f1e6021c133510282d6f61be259c2cd0f0dbd4/generator/src/FileCreator.php#L157

[2019-12-18 14:29] Kharhamel commented on #169
No it's not. Looks like I was dumb enough to copy paste the wrong code. I will fix this soon

[2019-12-18 14:30] Kharhamel commented on #169
Also we should have some kind of tests for theses exceptions generated exceptions

[2019-12-18 14:37] Kharhamel commented on #169
#170

[2019-12-18 15:16] Kharhamel commented on #169
this is in the beta4. however i think we feel like there is something to improve with the way we generate our exceptions.

[2019-12-18 15:16] #169 closed

[2019-12-18 15:50] snapshotpl commented on #169
@Kharhamel you talk about duplication?

[2019-12-19 15:34] BackEndTea commented on #7
Another candidate for this are the `DOM*` classes. Which may return `false` sometimes

[2019-12-20 08:53] Kharhamel commented on #143
this was added in the v1.0.0 release

[2019-12-20 08:53] #143 closed

[2019-12-20 08:54] Kharhamel commented on #104
This functiun was removed in the v1.0.0 release

[2019-12-20 08:54] #104 closed

[2019-12-20 09:34] Kharhamel commented on #141
#172

[2019-12-23 03:08] undefinedor opened #174 "TypeError: Argument 4 passed to yaml_parse_file() must be of the type array, null given"
| Q                | A
| ---------------- | ---
| Safe version      | ^0.11.12
| PHP version      | 7.4.0
| PHP Strict Type? | True |
| Operating system | MacOS

## description

[code]

[2020-01-01 20:10] muglug opened #175 "Use Psalm templated stubbed functions?"
Psalm has a list of templated functions here:

https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Stubs/CoreGenericFunctions.php

The big benefit of those is that they allow static analysis to figure out what's happening in a bunch of common cases, without the need for extra plugins – with Psalm's `@param-out` annotation the type of by-reference arrays can be easily inferred.

Where tho

[2020-01-06 12:09] kunicmarko20 opened #179 "\Safe\DateTimeImmutable comparison not correct"
[code]

Given this snippet, I would expect that both are `false`, but when using `\Safe\DateTimeImmutable` I am getting `true`.

[2020-01-06 12:18] Kharhamel commented on #175
Yes good idea.

However there is no way to automatically know which functions needs a template, so we need to get it from a documentation. Right now, the project can use the regular php doc or phpstan stubs. We would need to change the type generation (again) to use psalm stubs.

Integrating more psalm features in general is something I want to do. I think I will try to do that after #172, unless

[2020-01-06 13:07] Kharhamel commented on #174
Are you explicitly passing null as an argument or using the default value?

[2020-01-06 14:09] kunicmarko20 commented on #179
Fixed #180

[2020-01-06 14:09] #179 closed

[2020-01-07 11:17] bcremer opened #181 "Safe\DateTimeImmutable is not compatible with \DatePeriod"
The `Safe\`  Versions of `DateTime(Immutable)` cannot be used with PHPs inbuilt `\DatePeriod` class:

## PHPs inbuilt DateTime(immutable)
[code]

## Safe\DateTime(immutable)
[code]

My guest is that `\DatePeriod` uses direct access to the internal properties of the `DateTime(Immutable)` and thus works around `innerDateTime`.

A possible fix could be to synchronize the objects properties with the `

[2020-01-07 11:35] bcremer commented on #181
This has already been fixed on `master` with https://github.com/thecodingmachine/safe/pull/180.
Closing here.

[2020-01-07 11:35] #181 closed

[2020-01-07 11:35] jdreesen commented on #181
Did you try it on master? There was a DateTime fix yesterday: #179, #180

[2020-01-07 11:37] bcremer commented on #181
Yes, I was just about to write nearly the same fix when I saw it was already fixed in the master branch :)

[2020-01-07 13:29] Kharhamel commented on #157
#176

[2020-01-08 09:15] Kharhamel commented on #157
Support was added in 1.0.1

[2020-01-08 09:15] #157 closed

[2020-01-08 09:19] Kharhamel opened #182 "datetimeimmutable internal value doesn't use milliseconds"
oversight in #180. $datetime->format('Y-m-d H:i:s') needs to also include milliseconds

[2020-01-08 09:21] Kharhamel commented on #174
Do you still have the porblem when upgrading to v1.0?

[2020-01-08 09:35] undefinedor commented on #174
Yes.

[2020-01-08 09:36] undefinedor commented on #174
using the default value.

[2020-01-09 13:27] #182 closed

[2020-01-10 13:30] Kharhamel commented on #141
@muglug how do you test your function isCallMapFunctionPure() ? Do you use some selected example that you know are pure or impure, or do you have a more general approach?

[2020-01-10 13:42] Kharhamel opened #185 "Use psalm function stubs to add infos such as type templates and pureness"
In order to more easily solve #175 and #141, it may be easier to simply extract the needed infos from psalm's functions stubs instead of trying to recalculate them. This way we don't have to duplicate psalm's logic.

This is a bit redundant with our utilization of phpstan's functionMap to generate types but we could just use psalm as our type reference as well.
@moufmouf, @muglug what you think of

[2020-01-10 13:48] Kharhamel commented on #185
Maybe we could do the same thing for the annotation @template from phpstan. Or is it redundant with @psalm-template?
More generally, if I want to remain compatible with both tools, will I have to duplicate every annotations or is there some kind of overlapp between the two? (@ondrejmirtes)

[2020-01-10 13:55] ondrejmirtes commented on #185
PHPStan reads Psalm-specific generic annotations like `@psalm-template`. PHPStan does not support `@psalm-assert` and `@psalm-pure` etc.

[2020-01-10 13:56] Kharhamel commented on #185
Ok so I guess at first I can just focus on psalm annotations.

[2020-01-11 05:24] muglug commented on #185
Psalm has three sources of types:
 - CallMap.php (virtually identical to PHPStan's functionMap as they're based on the same file in Phan's source code)
 - CoreGenericFunctions.php/CoreGenericClasses.php and other files in `src/Psalm/Internal/Stubs`
 - Custom type provider plugins (that you won't be able to easily repurpose)

I designed the annotations to provide as much information as possible abo

[2020-01-15 07:16] OskarStark opened #186 "imap_open warning results in exception"
Hi,. the following code results in a warning before using `\Safe\imap_open`:
[code]

no the reworked code with using `\Safe\imap_open`:
[code]

results with the error above where its only a warning.
Is there a best pracitse on how to handle such warnings, which are now exceptions? 🤔

cc @localheinz

[2020-01-16 09:12] moufmouf commented on #186
Hey @OskarStark ,

I'm sorry, I don't understand your issue.
Is it that Safe does not print the correct error message (because the correct error message should be fetched using `imap_last_error` and we are not using that in Safe?)

Could you be a bit more specific? (maybe by showing the warning you are getting and we you expect from Safe?)

[2020-01-16 09:17] OskarStark commented on #186
Hi @moufmouf 👋

first of all thanks for your time and your answer.
Ofc let me explain:
Before a warning was raised: `Warning: imap_open(): Couldn't open stream {mail.foo-bar.de:993/ssl/novalidate-cert}`. Now this warning is wrapped in an Exception, and because of this, the code stopped here.

Is the best practice here to catch the `ErrorException` or does it make sense for the `Safe` lib to wrap a

[2020-01-17 14:22] localheinz opened #187 "Warning: ldap_bind() expects at most 3 parameters, 4 given"
When using `thecodingmachine/safe:1.0.2` on PHP 7.3.11, we have observed the following warning:

When looking at

* https://github.com/php/php-src/blob/php-7.3.11/ext/ldap/ldap.c#L1142-L1194
* https://github.com/php/php-src/blob/php-7.4.1/ext/ldap/ldap.c#L1117-L1169

it's not apparent that `ldap_bind()` accepts 4 arguments.

In contrast, the wrapping function `Safe\ldap_bind()` accepts and invokes

[2020-01-17 14:23] localheinz commented on #187
/cc @OskarStark

[2020-01-17 14:50] OskarStark commented on #187
I couldn't find any occurence in the PHP source code where `ldap_bind()` accepts 4 arguments, but the docs say it can:
https://github.com/php/doc-en/blob/060a8e23b015eec8692a921dcc6f21f669928a51/reference/ldap/functions/ldap-bind.xml#L16

cc @nikic , as [php/doc-en](https://github.com/php/doc-en) is only a mirror, how can we fix that?

[2020-01-17 15:01] localheinz commented on #187
Also see https://github.com/php/doc-en/pull/20.

[2020-01-20 08:44] #187 closed

[2020-01-21 09:16] Kharhamel commented on #187
this issue is solved in v1.0.3

[2020-01-21 10:02] OskarStark commented on #187
Thank you!

[2020-01-22 10:28] BenMorel opened #189 "fgets() is missing"
Hi, it looks like common file functions such as `fread()` and `fwrite()` are present, but not `fgets()`.
Could you please add it? Thanks!

[2020-01-22 16:18] davidsneighbour opened #190 "Misleading error message"
I have code that accesses the $_SESSION global. Thats bad ;) The error message says (sample):

[code]

Symfony Request is not working for $_SESSION globals. [filter_input_array()](https://www.php.net/manual/en/function.filter-input-array.php) is not filtering $_SESSION.

What is the expected proper way to access `$_SESSION` variables?

[2020-01-22 17:35] moufmouf commented on #190
Hey @davidsneighbour ,

I believe this issue belongs to a completely different package.

Namely: https://github.com/thecodingmachine/phpstan-strict-rules

Could you reopen it in this package?

[2020-01-22 17:35] #190 closed

[2020-01-24 13:41] Kharhamel commented on #189
Hello, I am not sure this will be possible. Looking at the the doc: https://www.php.net/manual/fr/function.fgets.php, The function can also return FALSE once there is nothing left to read.

Our generated function are of the type

[2020-01-24 13:51] BenMorel commented on #189
Thanks for your reply.

I've been actually surprised to see that your implementation only checks the return value, and **does not systematically throw when a PHP error has been caught**.

In the case of `fgets()`, a warning is thrown if an error occurs, that's how you can differentiate from a `false` value meaning nothing left to read, or a `false` value meaning an exception.

I've done something

[2020-01-24 14:30] Kharhamel commented on #189
Yes it is definitely much more limiting, but also easier to implement automatically and it doesn't risks messing with people's error handlers. Generally, the goal of this library isn't to rewrite the whole standard library, only to simplify error gestion a bit.

This subject isn't new, see #77 and #120

[2020-01-24 14:31] Kharhamel commented on #189
We have a special case file where it can manually write safe versions of functions. However, i don't think we can use the code you linked, because it kind of a design choice to not use errors handlers in safe.

[2020-01-24 14:52] BenMorel commented on #189
Hmm this is a matter of opinion I guess. I really expected this library to catch every single PHP error and re-throw it. I would personally expect Safe to bypass any custom error handler, for the duration of the function.

The fact is, in this precise case, it's really a pain to have `fgets()` fail because of an I/O error, and not get a catchable exception.

[2020-01-31 09:42] mjanser commented on #77
Hello,

I agree that adding `@` to some internal function calls would make sense. The example of `file_put_contents` seems to be a bit related to the Symfony Filesystem component. There they use `@` a lot and in some cases use a custom error handler during the function call to catch the last error. See https://github.com/symfony/filesystem/blob/master/Filesystem.php.

Additionally I would love to

[2020-02-27 14:27] vladyslavstartsev opened #202 "bcdiv should throw DivisionByZeroError if second arg is '0'"
bcdiv function currently returns NULL if the second arg is '0', but it should throw Exception instead

[2020-03-04 17:17] simPod commented on #124
I found eg. this https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Provider/ReturnTypeProvider/StrReplaceReturnTypeProvider.php

Perhaps we should be able to port this logic into something like `thecodingmachine/safe-psalm-plugin`. WDYT?

[2020-03-22 13:50] BackEndTea opened #213 "Add support for bcmath functions"
BCMath functions have a hard time dealing with non numeric numbers, which can be a problem due to locales or scientific notations (which are numeric according to php).

I wrote an implementation for it already, but i  think it would be beneficial to add it to this package. It may be outside of the scope of this package, as it isnt' about wrong return types, but rather the results themselves being

[2020-03-23 11:18] peter279k opened #214 "flock is missed"
According to the [flock](https://www.php.net/manual/en/function.flock.php) function reference, it will return `false` when locking file operations are failed.

[2020-03-23 11:20] peter279k commented on #214
I see that it's included :).

[2020-03-23 11:20] #214 closed

[2020-03-23 11:23] peter279k commented on #213
It's related to issue #202 :).

[2020-03-23 14:22] peter279k opened #215 "Some exif_* functions are missed"
As title, some `exif_*` functions are missed.

These functions are as follows:

- [exif_imagetype](https://www.php.net/manual/en/function.exif-imagetype.php)
[code]
- [exif_thumbnail](https://www.php.net/manual/en/function.exif-thumbnail.php)
[code]
- [exif_read_data](https://www.php.net/manual/en/function.exif-read-data.php)
[code]

## References
- https://www.php.net/manual/en/book.exif.php

[2020-03-23 15:20] peter279k opened #216 "Some gnupg_* functions are missed"
As title, some `gnupg_*` functions are missed. It should be concerned:

- [gnupg_adddecryptkey](https://www.php.net/manual/en/function.gnupg-adddecryptkey.php)
[code]
- [gnupg_addencryptkey](https://www.php.net/manual/en/function.gnupg-addencryptkey.php)
[code]
- [gnupg_addsignkey](https://www.php.net/manual/en/function.gnupg-addsignkey.php)
- [gnupg_cleardecryptkeys](https://www.php.net/manual/en

[2020-03-23 15:20] peter279k commented on #216
It seems to be included. Closed.

[2020-03-23 15:20] #216 closed

[2020-03-25 16:24] Kharhamel commented on #213
I am going to try respond to both this and #202 since it is the same issue.

Safe isn't there to be a better standard library.

There are lot of other projects that try to do this, written by people smarter and more dedicated than us. Safe is just there to automatically create wrappers around standard functions in order to throw exceptions on errors, with as little maintenance as possible, because

[2020-03-25 16:24] #213 closed

[2020-03-25 16:25] Kharhamel commented on #202
I replied in #213. Sorry for the late reply but this is kind of recurring problem and I wanted to try to make an elaborate answer.

[2020-03-25 16:25] #202 closed

[2020-03-25 19:03] BackEndTea commented on #213
Thanks for the reply @Kharhamel, i figured it might be out of scope for this lib. But thank you for writing out why it is not within scope for this package. I hope the safe library will not be needed by php 8.0 😄

[2020-04-12 16:46] Chemaclass commented on #78
I almost submit a new issue with this exact same question. I understand this now and it makes sense. Thanks, @bolmstedt!

[2020-05-13 14:59] iquito opened #218 "date function is missing"
The `date` function can return false (if a non-numeric value is used for `$timestamp`). I suspect this was not included in this library because static analyzers used to not report this - but with psalm 3.11.4 this changed and it is now reported.

I suspect so far it is only reported if psalm cannot clearly determine that a numeric value was used for `$timestamp`, but with legacy applications that

[2020-05-19 17:29] VincentLanglet opened #219 "Add @throw tag in phpdoc"
Throwing exception instead of returning false is a nice idea... only if you catch these exception.

There is a phpstan package (https://github.com/pepakriz/phpstan-exception-rules) to check that every exception are correctly handle. In order to work, it need that every exception thrown in a method are described in a `@throws` tag.

I think it could be a great idea to update the phpdoc of all the w

[2020-06-09 14:27] Kharhamel commented on #219
If it is only on DateTime and DateTimeImmutable, this should be quick to fix. I will do it shortly

[2020-06-09 14:30] Kharhamel commented on #218
Ok, i will look into this

[2020-06-09 14:34] Kharhamel commented on #219
#222

[2020-06-11 09:07] #219 closed

[2020-06-12 09:26] Kharhamel commented on #219
I will release this shortly

[2020-06-22 23:22] snapshotpl commented on #185
@Kharhamel Any plans to implements this?

[2020-06-22 23:24] snapshotpl opened #223 "Support for preg_replace_callback* functions"
`preg_replace_callback` and `preg_replace_callback_array` can return null on error. Looks like job for safe lib

[2020-06-24 16:38] jaydiablo opened #224 "ob_end_clean signature isn't quite right, IMO"
Ran into some code that was doing this:

[code]

Safe defines `ob_end_clean` as a `void` return: https://github.com/thecodingmachine/safe/blob/master/generated/outcontrol.php#L22

However, `ob_end_clean` will return `true` when it successfully clears the buffer.

[code]

If we use `Safe\ob_end_clean` in this situation, static analyzers complain that the output of a `void` returning function is use

[2020-06-25 14:22] WouterSioen opened #225 "Errors when running on PHP8"
When running the project (throuh the infection package) on PHP8, I get this error:

[code]

It looks like the `resource` typehint in the `generated/sockets.php` file in the
`socket_wsaprotocol_info_export` method is not supported in PHP8 and should
thus be removed to make this library and infection compatible with PHP8.

[2020-06-29 07:33] WouterSioen commented on #225
You can see the difference between PHP7 and PHP8 here: https://3v4l.org/JVrNp

[2020-07-08 17:21] Kharhamel commented on #225
This  project is not designed to run on php 8. There are too much functions which will have their signature changed or which will natively throw exceptions on error. We are actually working on making this behavior as common as possible in php 8 by submiting pr to the source code.
Ideally you shouldn't need Safe in php 8 in the first place.

[2020-07-08 17:26] ondrejmirtes commented on #225
The problem is that the "resource" typehint doesn't work even on PHP 7, it just thinks it's an object of that type: https://3v4l.org/GLq3g

[2020-07-08 17:26] ondrejmirtes commented on #225
"Argument 1 passed to socket_wsaprotocol_info_export() must be an instance of resource, resource given"

[2020-07-09 07:15] fezfez commented on #225
PR updated :)

[2020-07-10 09:34] #225 closed

[2020-07-10 11:37] asherkin commented on #224
How about:

[code]

I think that would end up the same result, be static analysis safe, and actually throw in case of a non-cleanable buffer?

[2020-07-12 13:41] vv12131415 opened #228 "add Conditional types for psalm"
Some functions can't be analyzed by `psalm` normally because they return union types

examples are
`
            'preg_replace',
            'preg_replace_callback',
`

what you can do add annotations like this

[code]

I'm not sure if it works, but the idea is borrowed from https://psalm.dev/docs/annotating_code/type_syntax/conditional_types/

[2020-07-15 09:46] Kharhamel commented on #228
Yes we already thoughtabout something like this in #185 but I didn't manage to do it. The information is just too much spread in too many places. I may look again in cases it has changed.

[2020-08-03 17:47] josefsabl commented on #174
The PHP's default value for this parameter is empty array. The Safe version has null as default value and passes it to the core function, which MUST result in a TypeError. Still broken in 1.1.3.

[2020-09-03 14:26] Kharhamel opened #235 "`Safe\DateTimeImmutable` is not compatible with `\DatePeriod`"
As seen in #227, DatePeriod can take Safe\DateTimeImmutable as parameter but will mess its internal state and overall won't work correctly. The only workaround is to switch batch to \DateTimeImmutable with ->getInnerDateTime().

It would be nice to have a way to enforce this workaround, with a phpstan rule for example.

[2020-09-08 20:57] BruceGitHub opened #239 "Maybe e Bug: False error message with sopressed error @on createFromFormat"
This code

[code]
Produce this otput

[code]

The probles it's with code

[code]
It's possible resolve to use

[code]

I thinks :-)

[2020-09-26 08:31] orklah commented on #228
What could be the next step for anyone wanting to work on Psalm's integration?

If there's grunt work to be done, maybe I or anyone else could help?

[2020-09-28 10:51] faizanakram99 commented on #7
Not sure if this is the right place to ask this question, how to use Safe\DateTime with doctrine ?

With phpstan-safe-rule, it doesn't let use any DateTime field in doctrine.

I can probably create a custom doctrine type based on DateType but then I would need to replace all "date" annotations with say "safe_date", doesn't sound intuitive

[2020-10-05 07:44] fezfez opened #243 "pack and unpack missing"
Hi,

for both method (pack and unpack), phpdoc never say it can return false but JetBrains/phpstorm-stubs say it can.
After checking in php src i found it can be return false see : https://github.com/php/php-src/blob/master/ext/standard/tests/strings/bug61038.phpt

[pack definition in phpstorm-stubs](https://github.com/JetBrains/phpstorm-stubs/blob/5b7def27af1f88c009f137b4c4a38bb4732a3713/standard

[2020-10-05 10:36] fezfez commented on #243
fixed in phpdoc via https://bugs.php.net/bug.php?id=80187

[2020-10-06 09:33] Kharhamel commented on #243
There have been some big changes in the documentation recently that could create a lot of issue in safe if i merge now. I have to design a fix first before i can do other fixes, sorry

[2020-10-08 08:49] Kharhamel commented on #243
pack and unpack were added in v1.3.0

[2020-10-08 08:49] #243 closed

[2020-10-08 08:53] Kharhamel commented on #224
@jaydiablo Do you agree with @asherkin or do you still think we should do a special case for ob_end_clean?

[2020-10-08 08:58] Kharhamel commented on #228
Well that is the problem, I don't see any grunt work. What we need for that feature would be functions that take a method name as a parameter and return the correct psalm annotation as a result.
Something like getPsalmUnionType($functionName) for example.

The problem is, last time I checked, such thing doesn't exist in psalm source. Either the info comes from separate places, or it ask a complica

[2020-10-22 09:24] Kharhamel commented on #218
This was added in the v1.3.2 release.
I am sorry it took so long, I didn't have a lot of time for safe recently.

[2020-10-22 09:24] #218 closed

[2020-10-22 10:31] iquito commented on #218
No problem, thanks for adding it!

[2020-10-23 01:51] sanmai opened #250 "Safe\DateTimeImmutable is incompatible with PHP 8"
[code]
Results in the following on PHP 8:
[code]
Tested on v1.3.2.

[2020-10-26 10:36] Kharhamel commented on #250
I need to wait for the doc to be updated to php8 before being able to release safe2.0
I can create a pre-release where I run the generator and the tests on php8 but it will still be incomplete

[2020-10-27 16:20] grongor opened #251 "Safe\socket_write doesn't work as expected"
I just ran into an issue where when you omit the third parameter (how many bytes you want to write to socket), it always writes nothing even though the behaviour should be "to write everything" from the second argument (buffer).

Something like that would fix the issue:
[code]

Temporary workaround in application code is:
[code]

[2020-10-28 17:51] #251 closed

[2020-10-28 17:54] Kharhamel commented on #251
this was released in v1.3.3

[2020-10-29 00:22] j3j5 opened #253 "Cannot redeclare Safe\array_combine()"
Hi there, congrats on the project, I just discovered it and I think is great.

Now, I've tried to add it to one of my libraries and now when I run phpstan (with our without the rule) I get the following error:
[code]

The file obviously don't have the function declared twice and I'm completely lost as for where it could be coming from. Any ideas? I'm on 1.3.3.

Thanks!

[2020-10-29 09:47] Kharhamel commented on #253
I don't know sorry. Do you still have the issue if you remove the library and re install it with composer?

[2020-10-29 13:59] j3j5 commented on #253
Steps to reproduce:
- Clone [this repo](https://github.com/thenextweb/passgenerator)
- Run `composer install`
- Run `./vendor/bin/phpstan analyse`

It should be reproducible on your machine, I'm using PHP 7.4.11 just in case it has anything to do.

[2020-11-11 00:36] WillyReyno opened #255 "imagecreatefromstring is not available anymore"
Hello,

Is there a reason why imagecreatefromstring was removed in this commit?

https://github.com/thecodingmachine/safe/commit/47b77826b0e566edb24a89ca74837ba0e84bf32a#diff-e43a00b5966864aae71e6045a78cdfae1ab344185735ef00a0df9fb98a313c27

[2020-11-12 02:17] passcod commented on #130
This adds 15 milliseconds per start to our workloads, which accounts for up to 20% of round trip. That didn't sound like a micro optimisation to us, which is why we went on a hunt to rip out all uses of Safe from our dependencies. We're not really looking for any change here as a result, but just figured you'd appreciate the data point.

[2020-11-13 13:24] j3j5 commented on #253
I've been digging a bit further, the issue is only with the `array_` functions but I can't find why phpstan thinks they've been previously declared. If I remove [the line from composer.json](https://github.com/thecodingmachine/safe/blob/master/composer.json#L21) that includes the `array.php` file and dump the autoloader classes again, phpstan runs just fine.

It is a very strange issue.

FWIW, ins

[2020-11-18 08:49] josefsabl commented on #120
I understand that this cannot be handled without loosing any information and am glad you are looking into the issue.

But I still believe that (and would vote/lobby for) making it consistent and in line with purpose of this library (turn unmanageable mess of false return values, uncatchable warnings etc. into manageable exceptions) is much better solution than keeping this 'broken'. And I believe

[2020-11-18 08:52] josefsabl commented on #77
I also would appreciate suppressing these warnings very much, this is similar/same issue https://github.com/thecodingmachine/safe/issues/120

[2020-11-21 11:51] Dgame opened #256 "fseek is missing"
I wonder if it would be possible to add them. Both return either an int or false.

[2020-11-26 16:39] soullivaneuh commented on #43
I must disagree on that. According to the [rule description](https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/7455379828759f4266aec11327817bf2ea0e6dc3/doc/rules/function_notation/native_function_invocation.rst):

So it add a `\` prexif to the **native calls**, that's all.

And this is not our case, because we are not using native function, we use yours.

For my case, I installed you library only

[2020-12-15 07:43] nepda commented on #253
Do you have any updates on this?

[2020-12-28 15:02] LANGERGabriel commented on #250
Related to https://bugs.php.net/bug.php?id=79975

[2021-01-05 08:00] bilelgasmi opened #262 "It looks like the function current is missing"
Hi, it looks like [current()](https://www.php.net/manual/en/function.current.php) is missing.

Any plans to add it? Thanks!

[2021-01-11 15:53] vladyslavstartsev commented on #228
@muglug can you please suggest a way to do it?
Maybe this lib can refer to original function, but without union `false` type.

[2021-01-11 16:23] orklah commented on #228
Well actually, I have a much better grasp of Psalm's internal now, but I have a lot less time than before 😄

This is probably not the absolute best way to do it, but it's the best I could find:
- We require psalm and make it run on an empty file
- It will go through its callmap and stubs and load every function
- We can create a psalm plugin on the AfterFunctionLikeAnalysisEvent hook that will rec

[2021-01-20 13:55] orklah commented on #228
It should be even simpler than what I said above. If we plug in the AfterAnalysisInterface hook, we get a $codebase param on which we can do:
`$codebase->functions->getAllStubbedFunctions()[$function_id]`

with $function_id being the FQN of the function. It returns the FunctionStorage on which we can get the return_type

[2021-01-21 17:43] nreynis opened #267 "simplexml_load_string does not work out of the box"
`simplexml_load_string` will not return false, but will emits errors unless you are setting `libxml_use_internal_errors(true);` before.

I am not sure this is necessarly something you want to handle. 🤔

To me that kind of looks like an encapsulation issue: I expect the library to get care of those details and provide me an exception.

Instead I've got to do all that by myself:
[code]

[2021-02-04 01:28] cxlblm opened #268 "Resource to Object Migration"
In php8, the return values of many resource types have been migrated to objects. Can our document comments be consistent? How can I help synchronize this document?

[2021-02-17 09:48] #268 closed

[2021-02-23 10:35] Jean85 commented on #228
I've found this: https://github.com/hectorj/safe-php-psalm-plugin

Maybe an external package with the right stub is the way to go?

[2021-02-24 09:22] vladyslavstartsev commented on #228
the way that @orklah described is better, because it will be always up to date. If we will have stubs, you will need to update all the places when psalm updates it's internal types

[2021-02-24 10:01] Jean85 commented on #228
Wouldn't be better to at least provide docblocks whenever a function allows it? Sorry, but I'm missing why we need something dynamic to have correct types with those functions...
Or is this something related to changes in types between different PHP versions?

[2021-02-25 05:43] vladyslavstartsev commented on #228
no, only related to changes in psalm base types.

Basically, what @orklah is suggesting, is to get types from psalm it self, BUT exclude the `|false` part (since this is the purpose of the library).

For example, let's analyze `base64_decode` function.
There are 2 ways to do this
1) external package way
2) @orklah way

The external package just copy/pastes code from psalm `stubs` dir (it's even sa

[2021-02-25 06:25] Jean85 commented on #228
Ok I understand but it seems enormously complicated for no proper advantage: the behavior of those functions is fixed (apart from new language versions), so the expected types are known. The Psalm signature shouldn't change a lot, but could be very complicated, some of them have nested conditional types.

IMHO having this check with static tests in the CI here would be simpler and more than enough

[2021-02-26 05:42] vladyslavstartsev commented on #228
it does have changes at least every month https://github.com/vimeo/psalm/commits/master/stubs/CoreGenericFunctions.phpstub

[2021-03-09 11:13] MJTheOne commented on #253
This is still an issue. Just ran into it myself

[2021-03-13 15:41] vv12131415 opened #270 "add inet_pton to have pair with inet_ntop"
currently this lib has `inet_ntop` implementation, but there is no `inet_pton` implementation for this lib

[2021-03-15 12:21] tpetry opened #271 "imap_open(): Argument #6 ($options) must be of type array, null given"
The implementation for `imap_open` is incorrect. The generated function has the parameter `?array $params = null` which is incorrect because the `$params` parameter is only allowed to be array. The [documentation](https://www.php.net/manual/en/function.imap-open.php) is saying too that the default for the parameter is an empty array.

[2021-03-18 12:14] simPod opened #272 "scandir() should return list<string> instead of array"
Hello, how can we type `scandir()` properly? Now it says it returns `array`. We can type it `list<string>` instead.

[2021-03-21 12:28] tjveldhuizen commented on #250
@Kharhamel Is there a timeline for fixing this? Now the 1.3.3-release claims to be compatible with PHP 8 (composer.json: >=7.2), I was surprised getting exceptions after upgrading PHP. Should the constraint be changed to ^7.2? Of is the incompatibility a bug and should it be fixed (for example with the PR by @janatjak)?

[2021-03-23 21:38] webmozart commented on #250
Same problem here. This class is not compatible with PHP 8, so the version constraint should be changed.

[2021-04-09 01:39] dongm2ez opened #274 "Unknown modifier 'g' in pattern not find"
use Safe after this problem not find in phpstan analyse.

`Regex pattern is invalid: Unknown modifier 'g' in pattern: /(values|in)\s*(\(\?\W*\?\))+/gi `

[2021-04-09 09:53] tjveldhuizen commented on #250
@Kharhamel How can we help moving this forward? The incompatibility is, unfortunately, blocking our upgrade to PHP 8.

[2021-04-13 16:32] Kharhamel commented on #250
I am so sorry, I really didn't have time to work on safe in the last few months.

I actually created an separated project for the php8 version: https://github.com/thecodingmachine/safe8

Trying to manage the update to 8 on this project was just too dangerous because some huge libraries use this package.

It isn't ready yet, I have to update the rector directory to the lastest version, then hook th

[2021-04-13 17:01] tjveldhuizen commented on #250
I have never used Rector, unfortunately. But, certainly when you want to deprecate the current repo, I think you should correct the required PHP version in composer.json. In the current situation Composer allows to update PHP, while it is not compatible.

[2021-04-13 20:13] tjveldhuizen commented on #250
By the way, releasing the PHP 8-version of this bundle as version 2.0.0 should not break existing installations, isn't it? Major versions are allowed to have BC-breaks, everybody using it on PHP 7 should have added a constraint like ^1.3, making it not automatically upgrade to 2.0.0.

[2021-04-15 11:17] tpetry commented on #250
@Kharhamel I was not aware there is a specific version for PHP 8. You should add a note at the top of the readme of the current version to inform people to switch to safe8 when using php 8.

And @tjveldhuizen is correct, the current approach is problematic when a project/library is designed to run on PHP 7 and PHP 8 because both packages will conflict. I support @tjveldhuizen suggestion on making

[2021-04-16 20:29] rieschl commented on #250
Actually, I think making a separate repo for php8 will cause even more headache for other packages requiring this library and want to support php7 and php8. what should they put in their `require` section?

why don't you just let composer sort that out? Afaik you don't even have to tag a major version. If you release a version which requires `php: ^8.0`, composer won't pull that on php7.
technical

[2021-04-28 07:09] boesing commented on #250
I am on the +1 list to have a new major bump for PHP 8.
There is no way of telling composer to install one package only on PHP 8 while the other has to be installed on PHP 7.
Since there are plenty of libraries using `thecodingmache/safe`, that would be a thing tho.

Any particular reason why a new major bump in this package was not an option? Having a few more insights would be nice :-)
Thanks fo

[2021-04-30 07:59] rieschl commented on #250
I hope this issue can be resolved somehow.
In the meantime we use a wrapper package to have the possibility to use safe and safe8 at the same time.
It's a bit inconvenient if you use ComoserRequireChecker but better than not using `Safe` at all.
feel free to use it, we made it public: https://github.com/eventjet/thecodingmachine-safe-meta

Thank you very much for hard work!

[2021-06-15 14:08] Jean85 commented on #250
I'm sorry, I'm jumping in late here but... Why can't we just fix this with what I'm proposing in #278?

[2021-07-21 08:46] rieschl commented on #250
That would really be awesome. That's the only thing that keeps us from PHP8 in some packages. Would it be possible to merge that, even though this library is deprecated, @Kharhamel ? Thank you very much!

[2021-07-28 11:32] dbrekelmans opened #280 "dom_import_simplexml() no longer returns null on failure in PHP8"
See: https://github.com/thecodingmachine/safe/pull/264#discussion_r677293400

[2021-07-28 11:35] dbrekelmans opened #281 "shell_exec() null cannot be used to detect failures"
The `Safe\shell_exec` function currently throws an exception when `null` is returned from `\shell_exec`. A `null` return is not always equal to an error occording to the docs.

https://www.php.net/manual/en/function.shell-exec.php

[2021-07-28 11:38] dbrekelmans opened #282 "finfo_open returns false instead of null on failure"
In `Safe\finfo_open` we throw an exception when `\finfo_open` returns null. But occording to the docs, the function returns `false` on failure instead of `null`. So we should be throwing an exception when `\finfo_open` returns `false`.

https://www.php.net/manual/en/function.finfo-open

[2021-07-28 11:41] dbrekelmans opened #283 "GD extension - resource is replaced by GdImage in PHP8"
In a lot of GD extension functions, the previously passed `resource` has been replaced by `GdImage` in PHP8. Our docblocks are incorrect. (see: https://github.com/thecodingmachine/safe/blob/master/generated/image.php)

[2021-07-28 12:50] dbrekelmans commented on #43
I agree with @soullivaneuh, this is an issue in the rule itself.

[2021-07-28 12:50] #43 closed

[2021-08-06 10:34] fox91 opened #286 "Bug in date_sunrise and date_sunset in v1.3.3"
Actually functions `date_sunrise` and `date_sunset` released in version `v1.3.3` have a bug:

[code]

The if condition `if ($utcOffset !== 0) {` always fail becaouse `0. !== 0`.

Current version in `master` branch doesn't have this issue.

Can you release a new version with updated code?
Thanks

[2021-08-06 13:10] dbrekelmans commented on #286
Hey @fox91, thanks for creating the issue. We're working on a PHP8 compatible release. We haven't yet had the time to figure out how to support multiple different PHP versions, as the functions are generated based on the latest PHP docs and thus are only compatible with the latest PHP version. This is something that we do want to look at, but I'm afraid I don't have a short-term solution for you a

[2021-08-09 12:14] tpetry opened #287 "Phpstan definition is missing in bundle"
It would be very useful to include the phpstan rules file in the archive that is loaded via composer.In the larastan project, for example, the phpstan configuration can be included directly from the vendor folder: https://github.com/nunomaduro/larastan#-getting-started-in-3-steps

[2021-08-09 12:16] #287 closed

[2021-08-19 08:27] dbrekelmans commented on #250
This has been solved in #278

[2021-08-19 08:27] #250 closed

[2021-08-24 15:13] fox91 opened #289 "Missign gzopen function"
While other zlib functions are present (`gzclose`, `gzcompress`, etc.) it seems that `gzopen` was missing.
Any plan to add it?

[2021-08-24 19:50] dbrekelmans commented on #289
Looking at the PHP docs, this function should have been generated. Looks like a bug in the generator.

[2021-08-27 09:25] fox91 opened #291 "Which version of php/doc-en was used?"
I am trying to regenerate the latest version `1.3.3` and I have noticed a big problem: I don't know which version of [php/doc-en](https://github.com/php/doc-en) was used.
The problem with [php/doc-en](https://github.com/php/doc-en) is that no tags are used, it is constantly evolving and correctly documents the current version of PHP but not the previous ones (for example I wanted to try to fix the

[2021-08-28 14:51] dbrekelmans commented on #291
Hi @fox91, the generator simply clones the git repo, so it's always using the latest master to generate the files. We currently don't track which commit from the docs is used for which release of Safe. If you have have ideas on how to accomplish this, feel free to open a PR and I will take a look at it!

[2021-09-03 10:17] fox91 commented on #291
Hi @dbrekelmans, I've opened #292.
It's based on tag v1.3.3, for `php/doc-en` I chose a commit created on the same date as yours that doesn't necessarily match the one you actually used but generates the same output.

[2021-09-21 06:14] BITWINGS-DE opened #293 "Wrong Type in Method swoole_async_write"
Message:
Warning: "integer" will be interpreted as a class name. Did you mean "int"? Write "\Safe\integer" or import the class with "use" to suppress this warning in /.../vendor/thecodingmachine/safe/generated/swoole.php on line 17

i think this is only in php 8

[2021-09-22 14:49] dbrekelmans commented on #293
Hi @BITWINGS-DE, which version of Safe are you using and which version of PHP?

Looking at line 17 in https://github.com/thecodingmachine/safe/blob/v1.3.3/generated/swoole.php, I don't see how this error could occur. Could you give some more context? Which function are you calling and how are you calling it?

[2021-09-22 15:23] BITWINGS-DE commented on #293
ok, I have seen that the culprit is another module that is still loading an outdated version.

Issue can be closed.

silverstripe/silverstripe-webauthn-authenticator (wrong version inplemented) > web-auth/webauthn-lib > web-auth/cose-lib > thecodingmachine/safe

crazy nested ;)

[2021-09-22 16:03] #293 closed

[2021-09-28 15:29] kunicmarko20 opened #294 "Release with PHP8 support"
Hi, I am wondering what is missing for you to tag a release that supports php8? Is there anything else that needs to be done?

[2021-09-30 06:23] #274 closed

[2021-10-01 13:59] dbrekelmans commented on #294
Hi @kunicmarko20,

I've just released an alpha version which you can try out: https://github.com/thecodingmachine/safe/releases/tag/2.0.0-alpha.1

There are still some bugs to fix before I'm comfortable releasing a stable version.

[2021-10-04 15:31] kunicmarko20 commented on #294
Thank you @dbrekelmans, we are using it in a big project and so far we didn't run into any issues.

[2021-10-05 08:53] DanielRuf commented on #294
@dbrekelmans not sure where I signed up to receive a mass mail regarding the PHP 8 version and Hacktoberfest.

I did not find a "unsubscribe" link so I kindly ask you to remove my email address from your mailing list. Thank you very much.

<img width="625" alt="Bildschirmfoto 2021-10-05 um 10 49 14" src="https://user-images.githubusercontent.com/827205/135991685-49f2e4da-d529-4333-8614-f3a594b9f6f

[2021-10-05 09:05] dbrekelmans commented on #294
Hi @DanielRuf, I'm sorry if this has inconvenienced you. This is not a mailing list, but simply a one-time hand-written invite to collaborate to all previous contributors and people who have shown interest in the PHP8 release of this library through github issues. There will not be any other emails.

[2021-10-05 09:08] Jean85 commented on #294
@dbrekelmans kudos for pushing this forward! I would suggest to pin this issue (or a similar one with the same invitation as the email) and tag it with the Hacktoberfest label, so people can come here and help!

[2021-10-05 09:14] DanielRuf commented on #294
Regarding `hacktoberfest` 2021, you just need to add the `hacktoberfest` topic to the repo to optin to the hacktoberfest event thi year.

I doubt that past contributors with 1 contribution will spend time to provide more PRs.

<img width="309" alt="Bildschirmfoto 2021-10-05 um 11 12 59" src="https://user-images.githubusercontent.com/827205/135995277-773026b1-2f7e-47f4-b4a5-1323d81df595.png">

[2021-10-12 15:26] tjveldhuizen opened #295 "Fatal error on DateTimeImmutable::createFromMutable"
[code]

[code]

results in:

[code]

[2021-10-15 14:52] dbrekelmans commented on #294
For anyone who wants to participate tomorrow, the previous discord link seems to have expired.

Here's a new invite link: https://discord.gg/t6UqBQ6k

[2021-10-16 13:05] #295 closed, assigned to nobody

[2021-10-16 13:44] dbrekelmans commented on #295
Hi @tjveldhuizen, this should be fixed now in https://github.com/thecodingmachine/safe/releases/tag/2.0.0-alpha.2

[2021-10-17 11:47] Duroth opened #306 "Create UPGRADE.md to help users migrating to 2.0"
In PHP 8.0 and 8.1, plenty of functions had their return values changed from `$type|false` to `$type` (i.e. `array|false` => `array`). Because these function no longer have a 'falsy' return values on error conditions, Safe v2.0 will no longer include them.

To help users migrate to v2.0 when it becomes stable, we'd like to include a small doc file ("UPGRADE.md" or similarly named) that includes, a

[2021-10-17 12:29] Duroth opened #307 "Keep working versions of deprecated functions in 2.0"
(Possibly improves #306)

In PHP 8.0 and 8.1, plenty of functions had their return values changed from `$type|false` to `$type` (i.e. `array|false` => `array`). Because these function no longer have a 'falsy' return values on error conditions, Safe v2.0 will no longer include them.

In order to keep Safe working in PHP 7.4, we can re-introduce the removed functions through the 'Deprecated' directo

[2021-10-17 20:47] #280 closed

[2021-10-26 20:09] snapshotpl opened #310 "ArgumentCountError in fputcsv()"
Version: 2.0.0-alpha.3
PHP: 8.0

[code]

Documentation say:

[code]
by https://www.php.net/manual/en/function.fputcsv.php

[2021-12-27 17:13] ricardoboss commented on #294
Any updates on this? PHP8.1 is out now aswell. Can I do anything to support this project?

[2021-12-28 16:49] homersimpsons opened #312 "PHP8 Curl returns CurlHandle (not resource)"
Since PHP8 [`curl_init`](https://www.php.net/manual/en/function.curl-init.php) returns [`CurlHandle`](https://www.php.net/manual/en/class.curlhandle.php) (or false) instead of `resource|false`.

As the generated function has the wrong typing, PHPStan's is sad :'(

[2022-01-03 14:40] dbrekelmans commented on #294
Hi @ricardoboss, sorry for the late response. Both me and @Kharhamel haven't found much time to work on this in a while.

I think I will release a 2.0 version this week. There are still a few bugs, but they all seem very minor and could be fixed in a patch version later.

There are definitely a few things that need to happen to make this library more future proof, like maintaining a delta between

[2022-01-04 09:08] Nadyita commented on #294
Seeing how it's impossible to have missed: why do your replacements for socket functions or `openssl_pkey_new()` return a resource instead of `\Socket` or `\OpenSSLAsymmetricKey`? I don't understand the reasoning behind it, yet I can't believe you overlooked this. Someone enlighten me, please.

[2022-01-04 09:35] dbrekelmans commented on #294
Hi @Nadyita, it seems you have found a bug. Your negative phrasing is not very constructive, perhaps it would be helpful for future instances to reconsider how you communicate.

Feel free to create a new issue reporting this bug and/or opening a pull request to fix the bug!

I'm also closing this issue, since 2.0 has been released.

[2022-01-04 09:35] #294 closed

[2022-01-05 09:25] Jean85 commented on #310
@dbrekelmans we can surely pin to that, but wouldn't this make the library compatible with 8.0.* only? How would you deal with SemVer? And what about downstream libs, how could they pin against this lib?

[2022-01-05 09:51] dbrekelmans commented on #310
Hi @Jean85, yes that would be the case. It would require us to make a new minor for each php version. It's definitely not ideal.

I think the ideal situation (in my opinion) would be to keep track of some sort of delta like phpstan and psalm do (example: https://github.com/phpstan/phpstan-src/blob/master/resources/functionMap_php80delta.php).
In fact, I would love it if Safe would take phpstan as

[2022-01-05 11:42] Jean85 commented on #310
@dbrekelmans I would like to give it a try, but I'm not sure that I understood your suggestion... How would this work? Do you want to generate the functions conditionally using PHPStan as a source of truth? Also, PHPStan seems to be listing a lot more functions that we would want... We would still need to use the doc as a listing, and then use PHPStan as a primary source for signature.

In the mea

[2022-01-05 11:57] dbrekelmans opened #317 "Compatibility with multiple php versions at the same time"
As described in https://github.com/thecodingmachine/safe/issues/310#issuecomment-1005515855, currently we can only support one exact php version at the time. This is already causing conflicts between php8.0 and php8.1 function signatures.

To solve this, a few things need to happen:

- [ ] Create a delta for the functions we are interested in to keep track of signature changes between PHP versions

[2022-01-05 12:02] dbrekelmans commented on #310
@Jean85 Thanks for the PR, I will take a look!

Yes that is correct. I was too quick to think we might not need the docs since phpstan knows the return type, but of course we still need to find out from the docs if this is a case of "return false on error"

I have outlined my thoughts in a new issue: https://github.com/thecodingmachine/safe/issues/317, so we don't pollute this one :).
If it's not

[2022-01-05 12:05] #310 closed

[2022-01-05 17:27] #312 closed

[2022-01-27 22:07] kubawerlos opened #324 "Named Arguments"
Is breaking straightforward migration when [named arguments](https://wiki.php.net/rfc/named_params) are used a bug or feature?

E.g. this code - without Safe - will work fine:
[code]
migration to using Safe would require to changing `flags` to `options` though.

[2022-01-28 09:31] dbrekelmans commented on #324
Which PHP version and which safe version are you using?

[2022-01-28 15:55] kubawerlos commented on #324
Both latest:
[code]

[code]

[2022-02-02 12:45] dbrekelmans commented on #324
Ah this is a bug then. Since `json_decode` is a special case function, it's not automatically updated when the phpdocs are changed.

If you are up for it, you can submit a PR changing the parameter names in https://github.com/thecodingmachine/safe/blob/master/lib/special_cases.php

[2022-02-04 08:27] pupitooo opened #325 "Correct way how to iterate fgetcsv"
What is correct way how to iterate `\Safe\fgetcsv`?

There are two way what I can find:

1.
[code]

2.
[code]

Is there any other solution, or what solution is prefered?

[2022-02-04 16:54] dbrekelmans commented on #325
@pupitooo I'm not sure I understand your question. `\Safe\fgetcsv` works the exact same as `\fgetcsv` except for throwing an exception instead of returning `false` when an error occurs.

[2022-02-09 09:15] nepda commented on #253
It seems like the `function_exists` call is dropped, and the issue is a thing again.

[2022-02-10 15:50] soullivaneuh opened #327 "idn_to_ascii function support"
This is a feature request to add support for the `idn_to_ascii` function.

Ref: https://www.php.net/manual/en/function.idn-to-ascii.php

[2022-02-10 16:13] soullivaneuh opened #328 "openssl_x509_parse function support"
This is a feature request to add support for the `openssl_x509_parse` function.

Ref: https://www.php.net/manual/fr/function.openssl-x509-parse.php

[2022-02-15 13:03] tpetry commented on #253
It's happening on `2.1.2` for me too.

[2022-02-23 12:19] webard commented on #253
In combination with phpstan or rector, the error still occurs (v2.1.2).

[2022-02-24 08:37] dbrekelmans commented on #253
As pointed out in https://github.com/thecodingmachine/safe/issues/253#issuecomment-726762555, this issue seems to be more related to phpstan than to Safe. As far as I can tell, we only declare `Safe\array_combine` once (see: https://github.com/thecodingmachine/safe/search?q=array_combine%28).

Does this still occur if you disable the phpstan safe extension? If so, it's most likely a bug in https:/

[2022-02-28 11:32] umpirsky opened #331 ""php": "^7.2|^8.0""
Currently it's not possible to run this package with PHP 7.3 and 8.0 at the same time.

This is especially problematic in multi-server environment, where servers are upgraded one by one.

Can we have at least one version (`1.3.4`) that supports this please? I guess this one should have https://github.com/thecodingmachine/safe/pull/273 in it too.

I can help preparing the branch if there is interes

[2022-03-07 09:11] dbrekelmans commented on #253
I've re-opened this issue per https://github.com/thecodingmachine/phpstan-safe-rule/issues/29#issuecomment-1060366739

[2022-03-09 06:54] dongm2ez commented on #253
I have some problem. But function is array_flip.

`PHP Fatal error:  Cannot redeclare Safe\array_flip()`,

thecodingmachine/safe: v2.1.2
nunomaduro/larastan: 1.0.3

[2022-03-09 15:51] j3j5 commented on #253
Left a comment on the [larastan repo](https://github.com/nunomaduro/larastan/issues/741#issuecomment-1063067587), I'm pretty sure the issue is on there. The different errors come from different versions of `thecodingmachine/safe`, it used to be only one `array.php` file but now there are 2 with different functions.

[2022-03-10 09:40] dbrekelmans commented on #331
Hi @umpirsky, unfortunately that's not possible at the moment because function signatures have changed between versions. We've created https://github.com/thecodingmachine/safe/issues/317 in order to make this possible.
Nobody is currently working on it, so if you're up for it, go ahead!

[2022-03-15 20:48] j3j5 opened #332 "Take into account global error handlers"
Hi there,

I was reading [this thread](https://twitter.com/another_clue/status/1503830167252307973) on Twitter by [Christian Lück](https://twitter.com/another_clue) and I immediately thought on Safe.

I just checked and just like on his example, this library [uses](https://github.com/thecodingmachine/safe/blob/v2.1.2/generated/Exceptions/FilesystemException.php#L8) `error_get_last()` without accou

[2022-03-16 02:46] j3j5 commented on #253
It turns out I was wrong and the issue was *not* on larastan but on the Safe library.

I left [a comment](https://github.com/nunomaduro/larastan/issues/741#issuecomment-1068673078) on the larastan issue commenting my findings but long story short, the issue comes from using `array` as a param or return type on PHPDocs. Since all functions are defined within the `Safe` namespace and `Safe\array` po

[2022-03-16 06:43] szepeviktor commented on #253
@Kharhamel Please consider storing class files and function files in separate directories.

[2022-03-17 08:38] dbrekelmans commented on #332
Yeah, makes sense to me! Looking forward to the PR :)

Keep in mind that this change should be done in the generator, not in the individual generated files.

[2022-04-19 08:52] snapshotpl opened #343 "\array is not array"
#333 introduces change where return type with `array` is defined as:
[code]
phpstan doesn't recognize now it as array, so it's break things

[2022-04-19 09:28] temp opened #344 "\Safe\array_combine() missing?"
Seems like it completely vanished, shouldn't it at least be deprecated (if the removal was not a mistake)?
It was still available in 2.1.3

See thecodingmachine/phpstan-safe-rule#31, the safe rule is still using \Safe\array_combine, that's where I saw the error.

[2022-04-19 10:21] tpetry commented on #344
I am not certain how the deprecation policy is done for the safe library. But I guess it was removed for version 2.2 (which is for PHP 8) because in PHP 8.0 the return type was changed to always return array and throw an exception in case of invalid parameters. The same as this library is doing, which makes it redundant.

PhpStan did detect this missing function for me, so I don't have a problem w

[2022-04-19 10:41] temp commented on #344
Naah, there is a deprecation policy - sprintf moved to deprecated for php 8.0 as well. It showed a warning that sprintf itself is safe since 8.0, so array_combine should be moved there aswell.
The problem with phpstan is not our code, but the phpstan-safe-rule, since this uses the removed function. And thus does not work anymore.

[2022-04-19 11:53] Kharhamel commented on #343
I switched the tag 2.2 to pre-release, hopefully that will give us some time. But i am not really sure how to fix this. @j3j5 do you have an idea?

[2022-04-19 12:05] Kharhamel commented on #343
I think I am going to revert the j3j5 array rename PR and then i will create a beta to try his other strategy.

[2022-04-19 12:09] Kharhamel commented on #344
Sorry, array_combine was automatically deleted by the generator and I missed that because of another PR with a lot of file rewriting.

The tag 2.2 was deleted anyway because it broked a lot of things. I will publish another tag shortly with a deprecated array_combine function.

[2022-04-19 12:33] spawnia commented on #344
Thank you @Kharhamel for dealing with this quickly. Does this library follow semantic versioning? If so, I propose mentioning that in the `README.md`.

[2022-04-19 12:49] #344 closed

[2022-04-19 16:51] j3j5 commented on #343
Ok, I think it may be time to report this on the phpdocparser repo, let me put together an issue as soon as I have time.

For some reason I don't get any error when testing on the [testing repo ](https://github.com/nepda/phpstan-larastan-bug) that was around, but I see now that phpstan doesn't support this form of return type (I should have checked earlier). Sorry about that :(

[2022-04-19 22:23] j3j5 commented on #343
I opened [the issue on phpdoc-parser](https://github.com/phpstan/phpdoc-parser/issues/117) and although it was the wrong place to open it, it got some interesting insights on the replies, it may be that the issue was on larastan after all :see_no_evil: Let's see what Ondrej thinks about the proposed solution, also, need to find the time to test bleeding edge with his version, it may be fixed there

[2022-04-20 10:46] #255 closed

[2022-04-20 12:59] j3j5 commented on #343
The comment above was meant for #338, anyway, looking at the responses by Jan on the other issue and after doing some more reading, I think he's right and the directory structure is wrong, so I believe #338 isn't the right answer either.

[2022-04-25 18:12] szepeviktor opened #348 "New, autoloader-centric file structure"
Aka. _for machines only_

[code]

- all classes go (generated or copied) in `src` directory as per PSR-4
- all functions go (generated or copied) into `functions.php` file
- keep `generated/functionsList.php`
- deprecated things get a PHPDoc tag

[code]

Resulting Composer config.
[code]
All other directories could be excluded from distribution.

Would you support a PR that modifies the generator?

[2022-04-25 18:13] szepeviktor commented on #348
@Kharhamel I understand it may hurt your feelings.

[2022-04-26 02:56] szepeviktor commented on #348
Asked how to do it: https://github.com/rectorphp/rector/issues/7131

[2022-04-26 08:44] Kharhamel commented on #348
I am not sure I understand the link with rector but yes, that new structure looks good, i would definitly like a PR to do that, especially if it solves issues like #253.

However I am thinking really hard about generating several directories of functions, to be loaded depending of the php version of the client. Do you think we could do something like this:

[code]

And then the autoload config in

[2022-04-26 08:53] szepeviktor commented on #348
That is done by keeping one git branch for each PHP version.
At least many other packages do it this way.

[2022-04-26 08:56] szepeviktor commented on #348
That Rector issue is about automatically combining many .php file into one `functions.php`.

[2022-04-30 15:13] nagmat84 opened #351 "Safe methods should also catch `\ErrorException` and not only check for error conditions"
#### Summary

In the nearer past, many functions have been changed to throw an `\ErrorException` which previously used to generate emit a PHP engine error on failure. This is also supported by the big PHP frameworks such as Symfony and Laravel which install a global error handler and then throw an `\ErrorException`.

IMHO, all the safe functions need not only to check, if the wrapped result indica

[2022-04-30 17:57] nagmat84 opened #352 "`imagecreatefromstring` is missing"
See title. The method [`imagecreatefromstring`](https://www.php.net/manual/de/function.imagecreatefromstring.php) is not wrapped as a safe method.

[2022-04-30 18:01] nagmat84 commented on #215
Any progress on this issue? A stumbled across the same problem a few minutes ago.

[2022-05-02 13:05] Kharhamel commented on #352
I will try to do this this week

[2022-05-02 13:07] Kharhamel commented on #328
Sorry for the late answer, this one is tricky. I need to change the way we search for doc files to be able to detect this function, I will try to do it this month

[2022-05-02 13:55] #352 closed

[2022-05-02 14:01] Kharhamel commented on #351
Are you sure this is needed? The doc page for fopen doesn't say anything about an ErrorException.

More generally, I believe that a function either throw an ErrorException or return false/null on error, not both. So safe functions should never throw ErrorException in the first place.
Do you have an example of an function that can do both?

[2022-05-02 14:22] Kharhamel commented on #343
I am closing this thread since the original issue was solved

[2022-05-02 14:22] #343 closed

[2022-05-02 16:23] nagmat84 commented on #351
Yes, it is needed.

In short: The PHP documentation is incomplete in this respect.

The long version: The PHP documentation does not state that these functions throw an exception, because technically it is not an integral part of the function definition, but the global error handler which throws the exception on behalf of the method. With modern PHP the following happens: The method emits a (tradi

[2022-05-02 20:54] asbiin commented on #253
@j3j5 This one is still not fixed, maybe you could reopen the issue?
Thank you for your work! I hope you'll find a proper fix soon ...

[2022-05-02 20:55] asbiin commented on #253
I also have the exact same error with `array_flip`:
[code]

[2022-05-02 21:14] j3j5 commented on #253
@asbiin You are right, it isn't fixed, or at least, the fix isn't merged yet. There was a MR which we thought fixed the error but it was reverted since it actually didn't fix it (#333 if I'm not mistaken). Anyway, there's an open MR right now (#350) which should fix it for good.
Also, if #348 gets into an actual MR and it gets merged will also fix this. I don't know why this issue was closed in th

[2022-05-03 14:54] Kharhamel commented on #351
Ok, so if I understand correctly, the ErrorException behavior is actually documented by this section (from fopen doc page):

[code]

In order to do what you ask, I need a reliable way to tell from the doc page if a function can throw an ErrorException.
Is every  E_WARNING converted into an ErrorException? Do the words used change much from a page to another? Is something else that can cause an Err

[2022-05-09 12:09] Kharhamel commented on #253
I created a new pre release tag to test @j3j5 new fix.

[2022-05-10 18:42] nagmat84 commented on #351
Yes, that is what I have found out in the meantime, too, and what I am doing right now.

Totally agreed with everything.

Another candidate in into which I bumped earlier today, is [`preg-match()`](https://www.php.net/manual/en/function.preg-match.php) which also exists in a "safe" variant. If you look closely at the official doc and if you are aware of the backgrounds, then you may notice that th

[2022-05-11 14:51] leo108 opened #356 "\Safe\fgetcsv should never return false"
It throws exception if fgetcsv returns false

https://github.com/thecodingmachine/safe/blob/master/generated/filesystem.php#L268-L270

[2022-05-16 15:09] leo108 commented on #356
@dbrekelmans if `fgetcsv` returns `false`, it will throw `FilesystemException`, `\Safe\fgetcsv` will never return `false`.

[2022-05-20 08:13] Kharhamel commented on #253
@j3j5 did you test the new tag? Did it solve your issue?

[2022-05-22 15:43] j3j5 commented on #253
Yes, so far the error is gone from my packages that include both, larastan and safe. Also, I've been running the alpha on [a personal project](https://gitlab.com/j3j5/twitter-bots/-/blob/main/composer.lock#L9528) and I didn't find any issue so far.

[2022-05-23 07:26] Kharhamel commented on #253
Very well, I think I will do an official release soon.

[2022-06-04 11:38] shalvah commented on #351
Hey, not a Safe user, but popping in here with a few thoughts because I like the library and I've recently dealt with similar issues.

First off @nagmat84 while I generally agree with you about PHP's changing error behaviour, I still couldn't reproduce this specific case on PHP 8.1:

[code]

No exception is raised, only a warning logged (twice):

[code]

Secondly, I suspect you may be mixing up th

[2022-06-07 15:57] Gemineye opened #361 "Safe\fgetcsv throws Exception when csv file ends with a new line"
When iterating over a file we get an Exception if the last line is empty. Is this intended?

[2022-06-09 15:34] #356 closed

[2022-06-09 17:29] Kharhamel commented on #361
If the base function returns false then it is normal than the safe function return an exception. I don't know why you have an error but it doesn't come from safe.

[2022-06-20 10:05] drobek94 opened #365 "Too few arguments to function Safe\Exceptions\CurlException::createFromPhpError()"
In ```Safe\Exceptions\CurlException``` function ```createFromPhpError``` expect parametr ```\CurlHandle $ch```. This function is called from ```generated/curl.php``` without the param.

Ends with error:
```Too few arguments to function Safe\Exceptions\CurlException::createFromPhpError()```

Thank you very much.

[2022-06-21 11:08] iquito opened #366 "Library with method calls instead of function calls"
I think this library is really great, thanks for creating and supporting it! One aspect that I feel could be better is the current use of functions instead of methods. Methods would have the main benefit of autoloading its class, and the library would only be loaded when used. In my setup using preloading all the files from this library come up in the list of most used non-preloaded files. I don't

[2022-07-20 17:46] #365 closed

[2022-07-20 17:47] Kharhamel commented on #365
This is deployed with v2.2.2

[2022-08-02 21:27] Aerendir opened #375 "Update `rector-migrate.php`"
The new configuration is this:

[code]

To support older versions:

[code]

[2022-08-04 08:55] MarcinGladkowski commented on #324
@dbrekelmans Hi! Consider my changes, please. https://github.com/thecodingmachine/safe/pull/376

[2022-08-04 14:08] dbrekelmans commented on #375
@Aerendir This would be fixed by https://github.com/thecodingmachine/safe/pull/372, correct?

[2022-08-04 14:12] dbrekelmans commented on #366
Hi @iquito. This seems like a big change and BC-break for a slight performance increase. Do you have any objective numbers of performance improvement? From the comments of #253, it looks like that issue has already been resolved.

[2022-08-04 14:13] dbrekelmans commented on #324
Fixed in #376

[2022-08-04 14:13] #324 closed

[2022-08-04 14:15] dbrekelmans commented on #331
Closing this, as duplicate of #317

[2022-08-04 14:15] #331 closed

[2022-08-04 14:15] dbrekelmans commented on #325
Closing this for inactivity.

[2022-08-04 14:15] #325 closed

[2022-08-04 14:18] dbrekelmans commented on #291
This was resolved in https://github.com/thecodingmachine/safe/pull/292

[2022-08-04 14:18] #291 closed

[2022-08-04 14:37] #253 closed

[2022-08-04 15:13] fox91 commented on #291
Hi @dbrekelmans,
in my opinion it would be a good idea to apply the same thing also for the master branch.
I don't think it makes much sense to only do this for a branch that probably won't get updates anymore.
What do you think? Can I open a PR about it?

[2022-08-04 16:19] dbrekelmans commented on #291
It was important for this branch, because it's for an older php version. `master` only supports the most current php8, so we actually do want the latest phpdoc. There are different options for supporting multiple php version, one of which is outlined in https://github.com/thecodingmachine/safe/issues/317. But nobody is actively working on it at the moment.

[2022-08-05 11:19] Aerendir commented on #375
@dbrekelmans yes, it will, but will break compatibility with older versions. The code I proposed maintains backward compatibility.

[2022-08-05 12:04] Aerendir commented on #375
I just saw you released the version `2.2.3`, so you merged the PR #372 in a patch release.

This change, however, is potentially backward breaking change, so it should have been merged in a major release if you follow the semver.

Using the code I suggested, instead, it would not break backward compatibility and can be released also in a patch release. My 2 cents.

[2022-08-09 14:16] Kharhamel commented on #375
Sorry I was in holidays for the last 2 weeks, i didn't see your thread.

We definitly don't want to break semVer. If you are confident about your code, i am in favor of merging it over #372 and quickly publishing a new tag to cover our mistake.
Or we delete the current tag and create a major release. (but a major release just to fix rector is weird)

@dbrekelmans what do you think?

[2022-08-09 14:39] dbrekelmans commented on #375
Agreed. I would be in favor of doing a new patch release after this is merged.

[2022-08-09 15:56] Kharhamel commented on #375
I will try to do it tomorrow

[2022-08-11 12:11] pyrou commented on #361
@Kharhamel How are we supposed to read a csv using Safe ?
Because original fgetcsv return false on purpose at the end of the file, according to [documentation example](https://www.php.net/manual/en/function.fgetcsv.php#refsect1-function.fgetcsv-examples) :

[code]

I tried using `feof`,

[code]

But with a final "\n" in csv file, which is something definitely pretty common, `feof` still isn't fals

[2022-08-11 12:35] pyrou commented on #361
Also resolution proposed in #325 is absolutely nonsensical to me. What would be the point of using a Safe function if the ONLY way to use it, is about muting and canceling the benefit it provide ?

[2022-08-19 07:43] pyrou opened #380 "Wrong type on openssl_ functions"
According to [PHP documentation](https://www.php.net/openssl_x509_read), openssl_x509_read accept `OpenSSLCertificate|string` and return `OpenSSLCertificate|false`.

On generated Safe wrapper, types are currently `ressource|string` and `resource`, making static analyzer fail when passing and OpenSSLCertificate instance, or when expecting OpenSSLCertificate.

Other openssl_ functions seems also aff

[2022-08-19 19:12] moufmouf commented on #380
Hey Pyrou!

I'm pretty sure this is due to the change of type between PHP 7 and PHP 8 (most "resources" have been replaced with PHP classes).
@Kharhamel A possible issue with the stub files?

[2022-08-19 19:17] moufmouf commented on #375
Thanks a lot for the suggested patch.

Real question here:

Do we want to ensure SEMVER for Rector? I mean, it is not run at runtime, and I doubt someone is running this in a CI/CD too. Shouldn't we exclude it from semver support? (I'm saying this because if at some point, we cannot do rector-migrate file that supports all rector versions, I'd rather drop support for older Rector releases than pre

[2022-08-20 15:04] Kharhamel commented on #380
this should be easy to fix, i will just override the types from phpstan

[2022-08-20 21:59] pyrou commented on #380
@Kharhamel I saw your PR, thanks for getting so quick on this 🙏 there is a lot of OpenSSL functions to cover, also not only OpenSSLCertificate but OpenSSLAsymmetricKey or OpenSSLCertificateSigningRequest

[2022-08-21 04:44] pointybeard commented on #361
I hit this problem also and having to use the workaround is ridiculous. The expected behaviour of `fgetcsv()` is to return false when there is no data. `Safe\fgetcsv()` should respect this and only throw an exception when there is actually an error of some kind.

[2022-08-21 04:46] pointybeard commented on #325
What is the point of having to catch the exception to workaround this? It now means there isn't a way to know if something actually failed.

[2022-08-21 12:40] j3j5 commented on #325
You can do what's best in your use-case inside the catch, when using the old way (as in [the php example](https://www.php.net/manual/en/function.fgetcsv.php#refsect1-function.fgetcsv-examples)), you also don't know when something failed. If you need to check whether something failed, you should be able to inspect the `FileSystemException` within the catch (it'll include the error message and type

[2022-08-23 07:05] cortier opened #382 "Warning errors on PHP 8.1"
[code]

[2022-08-23 15:20] Kharhamel commented on #361
But how do we know if there is an error without check if the return is false?

[2022-08-23 15:23] Kharhamel commented on #361
According to the doc (https://www.php.net/manual/fr/function.fgetcsv.php):

So i guess this hsould be the proper way to do it.

[2022-08-23 22:36] pyrou commented on #361
This only concerns blank line (like in the middle on the file) not trailing newline.

Checking `feof()` value is a good choice IMHO. A false value on \fgetcsv while \feof returns true is not an error. This is how `\fgetcsv()` currently behaves.

Here is a possible implementation that would satisfy either the original behavior of `\fgetcsv()` and the purpose of Safe :

[code]

---

Alternatively a

[2022-08-29 07:46] Kharhamel commented on #382
this is probably linked to #380

[2022-08-29 07:49] Kharhamel commented on #382
I don't see an "integer" type in swoole.php. Maybe this was fixed in previous MR. What version of safe do you use?

[2022-08-29 11:44] josefsabl commented on #174
This issue seems to be fixed in v2.0.1

[2022-09-05 07:26] Kharhamel commented on #380
I keep this issue onpen in case I missed some functions

[2022-09-06 10:41] wederfabricio commented on #361
I got the same problem here, I guess we should use the @pyrou solution to resolve this.

[2022-09-08 14:56] Kharhamel commented on #361
@pyrou I think I prefer the first solution since it doesn't require users to learn a new behavior. Working on it.

[2022-09-08 15:03] Kharhamel commented on #361
Do you think there are other functions that might have the same issue?

[2022-09-09 01:01] pyrou commented on #361
fgets is a similar case. Btw php.net [https://www.php.net/manual/en/function.fgets.php#refsect1-function.fgets-examples](example) for fgets confirms reading foef after getting false was the right implementation :)

[2022-09-13 13:01] nreynis commented on #283
This is really annoying, especially if you use static analysis.

[2022-09-13 14:15] nreynis opened #389 "preg_match_all wrongfully returns null"
`preg_match_all` returns `?int`

This is (as far as I can tell) not correct, this method could only ever return an integer.

This seems to have been introduced by https://github.com/thecodingmachine/safe/pull/335 in this commit https://github.com/thecodingmachine/safe/pull/335/commits/e87c187d649a1a1afd524ed52f0f56a6981c40af

[2022-09-13 15:51] Kharhamel commented on #361
The fix was deployed in version 2.3, I will do a MR later for fgets

[2022-09-15 15:17] davidyell opened #392 "BC break in patch release 2.2.3"
In my work project we implement the `json_decode` method and it seems there is a method signature change between `2.2.2` and `2.2.3` which breaks our codebase.

I am curious why the method params would be changed outside of a major release in-line with Semver. https://semver.org/

If this is an intentional change, then I would recommend some documentation around it, as stipulating a Composer const

[2022-09-16 22:16] colinodell commented on #392
There's some further discussion of this in https://github.com/thecodingmachine/safe/pull/376#issuecomment-1205475926

[2022-09-17 15:46] davidyell commented on #392
Thanks @colinodell

I will close this as duplicate of that discussion

[2022-09-17 15:46] #392 closed

[2022-09-21 07:18] Kharhamel commented on #382
If this comes from a package then I cannot do much. You should ask the package owner to update his projects dependancy

[2022-09-21 07:18] #382 closed

[2022-10-13 15:57] jaydiablo opened #396 "mktime (and gmmktime) may still return false in PHP 8+"
In #385, `mktime` was deprecated in this lib, but technically I think `mktime` will still return `false` in an unusual situation:

https://github.com/php/php-src/blob/master/ext/date/php_date.c#L1156

Before digging into php-src to see if it would still return `false` I explored changing the stubs in phpstan (because with the change in #385 in place, I get phpstan errors about using deprecated fun

[2022-10-14 14:21] staabm opened #398 "md5* functions should return `non-empty-string`"
see https://github.com/phpstan/phpstan-src/blob/5012e9dc55d89dee0f39459ec8caa2ce7c4a7843/resources/functionMap.php#L6407-L6408

[2022-11-04 12:33] Toker4213 opened #400 "Yo"
Yo

[2022-11-06 22:53] #400 closed

[2022-11-29 13:37] yann-eugone opened #401 "Fatal error on DateTimeImmutable::createFromInterface"
Very similar of https://github.com/thecodingmachine/safe/issues/295

[code]

[code]

[code]

I believe we are missing a wrapper around this method too
https://www.php.net/manual/en/datetime.createfrominterface.php